<% provide(:title, "All Top Layer Administrators") %>
<div id="top">
  <h2>
                  Top Layer Administrators
  </h2>

<br/>
<div class="row">
<div class="col col-lg-11">
<ul class="nav nav-pills">
<li><%= link_to "Master System Setup", master_setups_path, :class => "btn btn-xs pull-right" %></li>
<li> <% if @setup.blank? %>
        <%= link_to "System Setup", new_setup_path, :class => "btn btn-xs pull-right" %>
      <% elsif @setup.blank? && Setup.blank? %>
        <p>There is currently no setup configured.</p>
      <% end %></li>
<li><%= link_to "Departments", departments_path, :class =>"btn btn-xs pull-right"%></li>
<li><%= link_to "Departmental Administrators", roles_path, :class =>"btn btn-xs pull-right"%></li>
<li><%= link_to "Top Layer Administrators", roles_path, :class =>"btn btn-xs pull-right"%></li>
<li class ="active"><%= link_to "Headings", headings_path, :class =>"btn btn-xs pull-right"%></li>
<li><%= link_to "Lists", lists_path, :class =>"btn btn-xs pull-right"%></li>
<li><%= link_to "Time Periods", sdbip_time_periods_path, :class =>"btn btn-xs pull-right"%></li>
</ul></div></div></div>

    <div class="row">
         <div class="tabbable tabs" id="setup-tabs">
              <ul id = "myTab" class = "nav nav-tabs">
                <li>
                  <a href = "#setup" data-toggle = "tab">Tab 1</a>
                </li>
                <li>
                  <a href = "#add_setup" data-toggle = "tab">Tab 2</a>
                </li>
                 <li>
                  <a href = "#Job_Title" data-toggle = "tab">Tab 3</a>
                </li>


              </ul><!-- nav nav-tabs -->
            </div><!-- tabbable tabs -->
