<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @top_layer_administrator.user_id %>
</p>

<p>
  <strong>Can edit:</strong>
  <%= @top_layer_administrator.can_edit %>
</p>

<p>
  <strong>Can create:</strong>
  <%= @top_layer_administrator.can_create %>
</p>

<p>
  <strong>Can approve:</strong>
  <%= @top_layer_administrator.can_approve %>
</p>

<p>
  <strong>Can update:</strong>
  <%= @top_layer_administrator.can_update %>
</p>

<%= link_to 'Edit', edit_top_layer_administrator_path(@top_layer_administrator) %> |
<%= link_to 'Back', top_layer_administrators_path %>
