<% provide(:title, 'Lists') %>
<script>
$(function() {
	//highlight the current nav
	$("#applicationmanifest a:contains('SETUP')").parent().addClass('active');
}); //jQuery is loaded
</script>

<div class="row">
<div class="col col-lg-12">
	<%= render 'layouts/municipality' %>

<ul class="nav nav-pills  nav-justified">
<li><%= link_to "Master Setup",  master_setups_path %></li>
<li><%= link_to "System Setup", setups_path %></li>
<li><%= link_to "Departments", departments_path %></li>
<li><%= link_to "Administrators", departmental_administrators_path %></li>
<li><%= link_to "Headings", headings_path %></li>
<li class="active"><%= link_to "Lists", lists_path %></li>
<li><%= link_to "Time Periods", sdbip_time_periods_path %></li>
</ul>
</div>
</div>
    <div class="row">
				<div class="col col-lg-12">
            <div class="tabbable tabs third-level-navs" id="lists-tabs">
              <ul id = "myTab" class = "nav nav-tabs">

                <li class="active">
                  <a href = "#lists" data-toggle = "tab">Manage</a>
                </li>
								<li>
									<a href = "#add_lists" data-toggle = "tab">Create</a>
								</li>
              </ul><!-- nav nav-tabs -->
            </div><!-- tabbable tabs -->
					</div>
				</div>
				<div class="row">
					<div class="col col-lg-12">
    <div id = "myTabContent" class = "tab-content">

     <div class = "tab-pane active fade in" id = "lists">
      <div class="col col-lg-8 col-lg-offset-2"><br/>
				<div class="bs-example">
				    <div class="panel-group" id="accordion">
				        <div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Areas</a>
				                </h4>
				            </div>
				            <div id="collapseOne" class="panel-collapse collapse in">
				                <div class="panel-body">
				                    <% Area.all.each do |area| %>
															<li>
																<%= link_to edit_area_path(area),remote: true,'data-target' => "#edit-area-modal", 'data-toggle' => 'modal', :title=>"Click to Update" do %>
																<span><%= area.name %></span>

															<% end %>
															</li>
														<% end %>
														<div id="edit-area-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

														</div>
				                </div>
				            </div>
				        </div>
				        <div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Funding Sources</a>
				                </h4>
				            </div>
				            <div id="collapseTwo" class="panel-collapse collapse">
				                <div class="panel-body">
													<% FundingSource.all.each do |funding_source| %>
														<li>
															<%= link_to edit_funding_source_path(funding_source),remote: true,'data-target' => "#edit-funding-source-modal", 'data-toggle' => 'modal', :title=>"Click to Update" do %>
															<span><%= funding_source.name %></span>

														<% end %>
														</li>
													<% end %>
													<div id="edit-funding-source-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

													</div>
				                </div>
				            </div>
				        </div>
				        <div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">GFS Classifications</a>
				                </h4>
				            </div>
				            <div id="collapseThree" class="panel-collapse collapse">
				                <div class="panel-body">

													<% MscoreClassification.all.each do |mscore_classification| %>
													<li>
														<%= link_to edit_mscore_classification_path(mscore_classification),remote: true,'data-target' => "#edit-mscore-classification-modal", 'data-toggle' => 'modal', :title=>"Click to Update" do %>
														<span><%= mscore_classification.name %></span>

													<% end %>
													</li>
												<% end %>
												<div id="edit-mscore-classification-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

												</div>
				                </div>
				            </div>
				        </div>
								<div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">KPAs</a>
				                </h4>
				            </div>
				            <div id="collapseFour" class="panel-collapse collapse">
				                <div class="panel-body">
													<% Kpa.all.each do |kpa| %>
													<li>
														<%= link_to edit_kpa_path(kpa),remote: true,'data-target' => "#edit-kpa-modal", 'data-toggle' => 'modal', :title=>"Click to Update" do %>
														<span><%= kpa.name %></span>

													<% end %>
													</li>
												<% end %>
												<div id="edit-kpa-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

												</div>
				                </div>
				            </div>
				        </div>

								<div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">KPI Calculation Types</a>
				                </h4>
				            </div>
				            <div id="collapseFive" class="panel-collapse collapse">
				                <div class="panel-body">
				                    <% KpiCalculationType.all.each do |kpi_calculation_type| %>
														<li>
															<%= link_to edit_kpi_calculation_type_path(kpi_calculation_type),remote: true,'data-target' => "#edit-kpi-calculation-type-modal", 'data-toggle' => 'modal', :title=>"Click to Update" do %>
															<span><%= kpi_calculation_type.name %></span>

														<% end %>
														</li>
													<% end %>
													<div id="edit-kpi-calculation-type-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

													</div>
				                </div>
				            </div>
				        </div>
								<div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">KPI Concepts</a>
				                </h4>
				            </div>
				            <div id="collapseSix" class="panel-collapse collapse">
				                <div class="panel-body">
				                    <% KpiConcept.all.each do |kpi_concept| %>
														<li>
															<%= link_to edit_kpi_concept_path(kpi_concept),remote: true,'data-target' => "#edit-kpi-concept-modal", 'data-toggle' => 'modal', :title=>"Click to Update" do %>
															<span><%= kpi_concept.name %></span>

														<% end %>
														</li>
													<% end %>
													<div id="edit-kpi-concept-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

													</div>
				                </div>
				            </div>
				        </div>
								<div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseKOT">KPI Owner Titles</a>
				                </h4>
				            </div>
				            <div id="collapseKOT" class="panel-collapse collapse">
				                <div class="panel-body">
				                    <% KpiOwner.all.each do |kpi_owner| %>
  														<li>
															<%= link_to edit_kpi_owner_title_path(kpi_owner),remote: true,'data-target' => "#edit-kpi-owner-title-modal", 'data-toggle' => 'modal', :title=>"Click to Update" do %>
															<span><%= kpi_owner.name %></li></span>

														<% end %>
														</li>
													<% end %>
													<div id="edit-kpi-owner-title-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

													</div>
				                </div>
				            </div>
				        </div>
								<div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">KPI Target Types</a>
				                </h4>
				            </div>
				            <div id="collapseSeven" class="panel-collapse collapse">
				                <div class="panel-body">
				                    <% KpiTargetType.all.each do |kpi_target_type| %>
														<li>
															<%= link_to edit_kpi_target_type_path(kpi_target_type),remote: true,'data-target' => "#edit-kpi-target-type-modal", 'data-toggle' => 'modal', :title=>"Click to Update" do %>
															<span><%= kpi_target_type.name %></span>

														<% end %>
														</li>
													<% end %>
													<div id="edit-kpi-target-type-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

													</div>
				                </div>
				            </div>
				        </div>

								<div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">KPI Types</a>
				                </h4>
				            </div>
				            <div id="collapseEight" class="panel-collapse collapse">
				                <div class="panel-body">
				                    <% KpiType.all.each do |kpi_type| %>
														<li>
															<%= link_to edit_kpi_type_path(kpi_type),remote: true,'data-target' => "#edit-kpi-type-modal", 'data-toggle' => 'modal', :title=>"Click to Update" do %>
															<span><%= kpi_type.name %></span>

														<% end %>
														</li>
													<% end %>
													<div id="edit-kpi-type-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

													</div>
				                </div>
				            </div>
				        </div>

								<div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">National Outcomes</a>
				                </h4>
				            </div>
				            <div id="collapseNine" class="panel-collapse collapse">
				                <div class="panel-body">
				                    <% NationalOutcome.all.each do |national_outcome| %>
														<li>
															<%= link_to edit_national_outcome_path(national_outcome),remote: true,'data-target' => "#edit-national-outcome-modal", 'data-toggle' => 'modal', :title=>"Click to Update" do %>
															<span><%= national_outcome.name %></span>

														<% end %>
														</li>
													<% end %>
													<div id="edit-national-outcome-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

													</div>
				                </div>
				            </div>
				        </div>
								<div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">NDP Objectives</a>
				                </h4>
				            </div>
				            <div id="collapseTen" class="panel-collapse collapse">
				                <div class="panel-body">
				                    <% NdpObjective.all.each do |ndp_objective| %>
														<li>
															<%= link_to edit_ndp_objective_path(ndp_objective),remote: true,'data-target' => "#edit-ndp-objective-modal", 'data-toggle' => 'modal', :title=>"Click to Update" do %>
															<span><%= ndp_objective.name %></span>

														<% end %>
														</li>
													<% end %>
													<div id="edit-ndp-objective-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

													</div>
				                </div>
				            </div>
				        </div>

								<div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Pre-determined Objectives</a>
				                </h4>
				            </div>
				            <div id="collapseEleven" class="panel-collapse collapse">
				                <div class="panel-body">
				                    <% PredeterminedObjective.all.each do |predetermined_objective| %>
														<li>
															<%= link_to edit_predetermined_objective_path(predetermined_objective),remote: true,'data-target' => "#edit-predetermined-objective-modal", 'data-toggle' => 'modal', :title=>"Click to Update" do %>
															<span><%= predetermined_objective.name %></span>

														<% end %>
														</li>
													<% end %>
													<div id="edit-predetermined-objective-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

													</div>
				                </div>
				            </div>
				        </div>

								<div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">Provincial Strategic Outcomes</a>
				                </h4>
				            </div>
				            <div id="collapseTwelve" class="panel-collapse collapse">
				                <div class="panel-body">
				                    <% ProvincialStrategicOutcome.all.each do |provincial_strategic_outcome| %>
														<li>
															<%= link_to edit_provincial_strategic_outcome_path(provincial_strategic_outcome),remote: true,'data-target' => "#edit-provincial-strategic-outcome-modal", 'data-toggle' => 'modal', :title=>"Click to Update" do %>
															<span><%= provincial_strategic_outcome.name %></span>

														<% end %>
														</li>
													<% end %>
													<div id="edit-provincial-strategic-outcome-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

													</div>
				                </div>
				            </div>
				        </div>
								<div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">Reporting Category</a>
				                </h4>
				            </div>
				            <div id="collapseThirteen" class="panel-collapse collapse">
				                <div class="panel-body">
				                    <% ReportingCategory.all.each do |reporting_category| %>
														<li>
															<%= link_to edit_reporting_category_path(reporting_category),remote: true,'data-target' => "#edit-reporting-category-modal", 'data-toggle' => 'modal', :title=>"Click to Update" do %>
															<span><%= reporting_category.name %></span>

														<% end %>
														</li>
													<% end %>
													<div id="edit-reporting-category-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

													</div>
				                </div>
				            </div>
				        </div>
								<div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">Risk Rating</a>
				                </h4>
				            </div>
				            <div id="collapseFourteen" class="panel-collapse collapse">
				                <div class="panel-body">
				                    <% RiskRating.all.each do |risk_rating| %>
														<li>
															<%= link_to edit_risk_rating_path(risk_rating),remote: true,'data-target' => "#edit-risk-rating-modal", 'data-toggle' => 'modal', :title=>"Click to Update" do %>
															<span><%= risk_rating.name %></span>

														<% end %>
														</li>
													<% end %>
													<div id="edit-risk-rating-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

													</div>
				                </div>
				            </div>
				        </div>
								<div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseObj">Strategic Objectives</a>
				                </h4>
				            </div>
				            <div id="collapseObj" class="panel-collapse collapse">
				                <div class="panel-body">
				                    <% StrategicObjective.all.each do |strategic_objective| %>
														<li>
															<%= link_to edit_strategic_objective_path(strategic_objective),remote: true,'data-target' => "#edit-strategic-objective-modal", 'data-toggle' => 'modal', :title=>"Click to Update" do %>
															<span><%= strategic_objective.name %></span>

														<% end %>
														</li>
													<% end %>
													<div id="edit-strategic-objective-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

													</div>
				                </div>
				            </div>
				        </div>
								<div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFifthteen">Wards</a>
				                </h4>
				            </div>
				            <div id="collapseFifthteen" class="panel-collapse collapse">
				                <div class="panel-body">
				                    <% Ward.all.each do |wards| %>
  														<li><%= wards.name %></li>
														<% end %>
				                </div>
				            </div>
				        </div>
								<div class="panel panel-default">
										<div class="panel-heading">
												<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion" href="#collapsesixteen">Job Titles</a>
												</h4>
										</div>
										<div id="collapsesixteen" class="panel-collapse collapse">
												<div class="panel-body">
														<% Jobtitle.all.each do |title| %>
															<li><%= title.title %></li>
														<% end %>
												</div>
										</div>
								</div>
				    </div>

				</div>

	</div>
	</div>
	<div class = "tab-pane fade" id = "add_lists">
			<%= render 'manage_lists' %>
</div>
</div>
</div>
</div>
