<% provide(:title, 'List') %>
<script>
$(function() {
	//highlight the current nav
	$("#applicationmanifest a:contains('SETUP')").parent().addClass('active');
}); //jQuery is loaded
</script>
<h3><%= @list.created_at.strftime("%d %b %Y") %></h3>
<hr/>
<small>Create Date </small>
<small><%= @list.created_at.strftime("%d %b %Y") %></small>
<hr/>
<small>Update Date </small>
<small><%= @list.updated_at.strftime("%d %b %Y ") %></small>
<hr/>
<strong>Area</strong>
	<% @list.areas.each do |area| %>
	<output><%= area.name %></output>
<% end %>
<hr/>
<strong>Funding Source</strong>
	<% @list.funding_sources.each do |funding_source| %>
	<output><%= funding_source.name %></output>
<% end %>
<hr/>
<strong>M Score Classification</strong>
	<% @list.mscore_classifications.each do |mscore_classification| %>
	<output><%= mscore_classification.name %></output>
<% end %>
<hr/>
<strong>KPA</strong>
	<% @list.kpas.each do |municipal_kpa| %>
	<output><%= kpa.name %></output>
<% end %>
<hr/>
<strong>KPI Concept</strong>
	<% @list.kpi_concepts.each do |kpi_concept| %>
	<output><%= kpi_concept.name %></output>
<% end %>
<hr/>
<strong>KPI Owner</strong>
	<% @list.kpi_owners.each do |kpi_owner| %>
	<output><%= kpi_owner.name %></output>
<% end %>
<hr/>
<strong>KPI Type</strong>
	<% @list.kpi_types.each do |kpi_type| %>
	<output><%= kpi_type.name %></output>
<% end %>
<hr/>
<strong>Risk Rating</strong>
	<% @list.risk_ratings.each do |risk_rating| %>
	<output><%= risk_rating.name %></output>
<% end %>
<hr/>
<strong>National Outcome</strong>
	<% @list.national_outcomes.each do |national_outcome| %>
	<output><%= national_outcome.name %></output>
<% end %>
<hr/>
<strong>Departmental IDP Objectives</strong>
	<% @list.departmental_idp_objectives.each do |departmental_idp_objective| %>
	<output><%= departmental_idp_objective.name %></output>
<% end %>
<hr/>
<strong>Top Layer IDP Objectives</strong>
	<% @list.top_layer_idp_objectives.each do |top_layer_idp_objective| %>
	<output><%= top_layer_idp_objective.name %></output>
<% end %>
<hr/>
<strong>NDP Objectives</strong>
	<% @list.ndp_objectives.each do |ndp_objective| %>
	<output><%= ndp_objective.name %></output>
<% end %>
<hr/>
<strong>Predetermined Objectives</strong>
	<% @list.predetermined_objectives.each do |predetermined_objective| %>
	<output><%= predetermined_objective.name %></output>
<% end %>
<hr/>
<strong>Provincial Strategic Outcome</strong>
	<% @list.provincial_strategic_outcomes.each do |provincial_strategic_outcome| %>
	<output><%= provincial_strategic_outcome.name %></output>
<% end %>
<hr/>
<strong>Reporting Category</strong>
	<% @list.reporting_categories.each do |reporting_category| %>
	<output><%= reporting_category.name %></output>
<% end %>
<hr/>
<strong>Strategic Objective</strong>
	<% @list.strategic_objectives.each do |strategic_objective| %>
	<output><%= strategic_objective.name %></output>
<% end %>
<hr/>
<strong>KPI Calculation Type</strong>
	<% @list.kpi_calculation_types.each do |calculation_type| %>
	<output><%= calculation_type.name %></output>
<% end %>
<hr/>
<strong>KPI Target Type</strong>
	<% @list.kpi_target_types.each do |kpi_target_type| %>
	<output><%= kpi_target_type.name %></output>
<% end %>
<hr/>

<%= link_to "Edit", edit_list_path %> | <%= link_to "Back", lists_path %>
