<p id="notice"><%= notice %></p>

<h1>Listing Mscore Classifications</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mscore_classifications.each do |mscore_classification| %>
      <tr>
        <td><%= mscore_classification.name %></td>
        <td><%= link_to 'Show', mscore_classification %></td>
        <td><%= link_to 'Edit', edit_mscore_classification_path(mscore_classification) %></td>
        <td><%= link_to 'Destroy', mscore_classification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mscore classification', new_mscore_classification_path %>
