<% provide(:title, "Log in") %>
<div class="row" id="landingpage">

  <div class="col-md-6 col-md-offset-3"><br/>
    <section id="landing-page-logo">
  		<%= image_tag("ks-vertical.jpg", alt: "Keystone Municipal Performance Management System logo") %>
  	</section><!-- branding -->
    <h2>Welcome Home</h2>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label "Company Code" %>
      <%= f.text_field :company_code, class: 'form-control' %>

      <%= f.label :password %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in",class: "btn" %>

    <% end %>
  </div>
</div>
