<% provide(:title, @heading.term) %>
<script>
$(function() {
	//highlight the current nav
	$("#applicationmanifest a:contains('SETUP')").parent().addClass('active');
}); //jQuery is loaded
</script>
<div>
  <h2>
    <%= @heading.category %>&nbsp;|&nbsp;<%= @heading.term%>
  </h2>
  <div class="row">
    <div class="col col-md-6 col-md-offset-3">
      <strong>Terminology:</strong>
      <output><%= @heading.term %></output>
      <br/>
      <strong>Description:</strong>
      <output><%= @heading.description %></output>
      <br/>
      <strong>Category:</strong>
      <output><%= @heading.category %></output><br/>
      <small>Create Date:&nbsp;</small>
      <small><%= @heading.created_at.strftime("%d %b %Y") %></small>&nbsp; | &nbsp;
      <small>Update Date:&nbsp;</small>
      <small><%= @heading.updated_at.strftime("%d %b %Y ") %></small>
      <hr>
      <%= link_to headings_path, class: "btn btn-mini" do %>
        <span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Back
      <% end %> |
      <%= link_to edit_heading_path(@heading), class: "btn btn-mini" do %>
        <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
      <% end %> |
      <%= link_to @heading, method: :delete, data: { confirm: "Are You Sure?" }, class: "btn btn-mini" do %>
        <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
      <% end %>
    </div>
  </div>
</div>
