<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @top_layer_sdbip.department_id %>
</p>

<p>
  <strong>Reporting kpi:</strong>
  <%= @top_layer_sdbip.reporting_kpi %>
</p>

<p>
  <strong>Idp ref:</strong>
  <%= @top_layer_sdbip.idp_ref %>
</p>

<p>
  <strong>Mscore classification:</strong>
  <%= @top_layer_sdbip.mscore_classification_id %>
</p>

<p>
  <strong>National outcome:</strong>
  <%= @top_layer_sdbip.national_outcome_id %>
</p>

<p>
  <strong>Kpa:</strong>
  <%= @top_layer_sdbip.kpa_id %>
</p>

<p>
  <strong>Predetermined objective:</strong>
  <%= @top_layer_sdbip.predetermined_objective_id %>
</p>

<p>
  <strong>Ndp objective:</strong>
  <%= @top_layer_sdbip.ndp_objective_id %>
</p>

<p>
  <strong>Strategic objective:</strong>
  <%= @top_layer_sdbip.strategic_objective_id %>
</p>

<p>
  <strong>Kpi:</strong>
  <%= @top_layer_sdbip.kpi %>
</p>

<p>
  <strong>Unit of measurement:</strong>
  <%= @top_layer_sdbip.unit_of_measurement %>
</p>

<p>
  <strong>Risk:</strong>
  <%= @top_layer_sdbip.risk %>
</p>

<p>
  <strong>Ward:</strong>
  <%= @top_layer_sdbip.ward_id %>
</p>

<p>
  <strong>Area:</strong>
  <%= @top_layer_sdbip.area_id %>
</p>

<p>
  <strong>Kpi owner:</strong>
  <%= @top_layer_sdbip.kpi_owner_id %>
</p>

<p>
  <strong>Baseline:</strong>
  <%= @top_layer_sdbip.baseline %>
</p>

<p>
  <strong>Poe:</strong>
  <%= @top_layer_sdbip.poe %>
</p>

<p>
  <strong>Past year performance:</strong>
  <%= @top_layer_sdbip.past_year_performance %>
</p>

<p>
  <strong>Mtas indicator:</strong>
  <%= @top_layer_sdbip.mtas_indicator_id %>
</p>

<p>
  <strong>Reporting category:</strong>
  <%= @top_layer_sdbip.reporting_category %>
</p>

<p>
  <strong>Kpi calculation type:</strong>
  <%= @top_layer_sdbip.kpi_calculation_type_id %>
</p>

<p>
  <strong>Kpi target type:</strong>
  <%= @top_layer_sdbip.kpi_target_type_id %>
</p>

<p>
  <strong>Annual target:</strong>
  <%= @top_layer_sdbip.annual_target %>
</p>

<p>
  <strong>Revised target:</strong>
  <%= @top_layer_sdbip.revised_target %>
</p>

<p>
  <strong>First quarter target:</strong>
  <%= @top_layer_sdbip.first_quarter_target %>
</p>

<p>
  <strong>Second quarter target:</strong>
  <%= @top_layer_sdbip.second_quarter_target %>
</p>

<p>
  <strong>Third quarter target:</strong>
  <%= @top_layer_sdbip.third_quarter_target %>
</p>

<p>
  <strong>Fourth quarter target:</strong>
  <%= @top_layer_sdbip.fourth_quarter_target %>
</p>

<p>
  <strong>First quarter actual:</strong>
  <%= @top_layer_sdbip.first_quarter_actual %>
</p>

<p>
  <strong>Second quarter actual:</strong>
  <%= @top_layer_sdbip.second_quarter_actual %>
</p>

<p>
  <strong>Third quarter actual:</strong>
  <%= @top_layer_sdbip.third_quarter_actual %>
</p>

<p>
  <strong>Fourth quarter actual:</strong>
  <%= @top_layer_sdbip.fourth_quarter_actual %>
</p>

<%= link_to 'Edit', edit_top_layer_sdbip_path(@top_layer_sdbip) %> |
<%= link_to 'Back', top_layer_sdbips_path %>
