<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @subdepartmental_administrator.department_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @subdepartmental_administrator.user_id %>
</p>

<p>
  <strong>Can create:</strong>
  <%= @subdepartmental_administrator.can_create %>
</p>

<p>
  <strong>Can edit:</strong>
  <%= @subdepartmental_administrator.can_edit %>
</p>

<p>
  <strong>Can update:</strong>
  <%= @subdepartmental_administrator.can_update %>
</p>

<p>
  <strong>Can approve:</strong>
  <%= @subdepartmental_administrator.can_approve %>
</p>

<%= link_to 'Edit', edit_subdepartmental_administrator_path(@subdepartmental_administrator) %> |
<%= link_to 'Back', subdepartmental_administrators_path %>
