<p id="notice"><%= notice %></p>

<h1>Listing Provincial Strategic Outcomes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @provincial_strategic_outcomes.each do |provincial_strategic_outcome| %>
      <tr>
        <td><%= provincial_strategic_outcome.name %></td>
        <td><%= link_to 'Show', provincial_strategic_outcome %></td>
        <td><%= link_to 'Edit', edit_provincial_strategic_outcome_path(provincial_strategic_outcome) %></td>
        <td><%= link_to 'Destroy', provincial_strategic_outcome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provincial strategic outcome', new_provincial_strategic_outcome_path %>
