<p id="notice"><%= notice %></p>

<h1>Listing Kpi Target Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kpi_target_types.each do |kpi_target_type| %>
      <tr>
        <td><%= kpi_target_type.name %></td>
        <td><%= kpi_target_type.code %></td>
        <td><%= link_to 'Show', kpi_target_type %></td>
        <td><%= link_to 'Edit', edit_kpi_target_type_path(kpi_target_type) %></td>
        <td><%= link_to 'Destroy', kpi_target_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kpi target type', new_kpi_target_type_path %>
