<p id="notice"><%= notice %></p>

<h1>Listing Ndp Objectives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ndp_objectives.each do |ndp_objective| %>
      <tr>
        <td><%= ndp_objective.name %></td>
        <td><%= link_to 'Show', ndp_objective %></td>
        <td><%= link_to 'Edit', edit_ndp_objective_path(ndp_objective) %></td>
        <td><%= link_to 'Destroy', ndp_objective, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ndp objective', new_ndp_objective_path %>
