<p id="notice"><%= notice %></p>

<p>
  <strong>Vote number:</strong>
  <%= @revenue_by_source.vote_number %>
</p>

<p>
  <strong>Line item:</strong>
  <%= @revenue_by_source.line_item %>
</p>

<p>
  <strong>July:</strong>
  <%= @revenue_by_source.July %>
</p>

<p>
  <strong>August:</strong>
  <%= @revenue_by_source.August %>
</p>

<p>
  <strong>September:</strong>
  <%= @revenue_by_source.September %>
</p>

<p>
  <strong>October:</strong>
  <%= @revenue_by_source.October %>
</p>

<p>
  <strong>November:</strong>
  <%= @revenue_by_source.November %>
</p>

<p>
  <strong>December:</strong>
  <%= @revenue_by_source.December %>
</p>

<p>
  <strong>January:</strong>
  <%= @revenue_by_source.January %>
</p>

<p>
  <strong>February:</strong>
  <%= @revenue_by_source.February %>
</p>

<p>
  <strong>March:</strong>
  <%= @revenue_by_source.March %>
</p>

<p>
  <strong>April:</strong>
  <%= @revenue_by_source.April %>
</p>

<p>
  <strong>May:</strong>
  <%= @revenue_by_source.May %>
</p>

<p>
  <strong>June:</strong>
  <%= @revenue_by_source.June %>
</p>

<%= link_to 'Edit', edit_revenue_by_source_path(@revenue_by_source) %> |
<%= link_to 'Back', revenue_by_sources_path %>
