<table class="table table-striped table-bordered">
  <tr>
    <th>Department</th>
    <th>Subdepartment</th>
    <th>Mscore classification</th>
    <th>Line item</th>
    <th>Month</th>
    <th>Vote number</th>
    <th>Operational Expenditure</th>
    <th>Revenue</th>
    <th>Capital Expenditure</th>

  </tr>
  <% @monthly_cashflows.each do |monthly_cashflow| %>
    <tr>
      <td><%= monthly_cashflow.department_name %></td>
      <td><%= monthly_cashflow.subdepartment_name %></td>
      <td><%= monthly_cashflow.mscore_classification_name %></td>
      <td><%= monthly_cashflow.line_item %></td>
      <td><%= monthly_cashflow.month %></td>
      <td><%= monthly_cashflow.vote_number %></td>
      <td><%= monthly_cashflow.operational_expenditure %></td>
      <td><%= monthly_cashflow.revenue %></td>
      <td><%= monthly_cashflow.capital_expenditure %></td>

    </tr>
  <% end %>

</table>
