<% provide(:title, 'Monthly Cashflows') %>
<script>
$(function() {
	//highlight the current nav
	$("#applicationmanifest ul.navbar-nav li:eq(3)").addClass('active');
}); //jQuery is loaded
</script>
<br/>
<div class="row">
<div class="col col-lg-12">
<%= render 'layouts/municipality' %>

<ul class="nav nav-pills nav-justified">

<li><%= link_to "Departmental SDBIP", departmental_sdbips_path %></li>

<% if current_user.admin? || current_user.super_admin? %>

<li><%= link_to "Top Layer SDBIP", top_layer_sdbips_path %></li>

<li><%= link_to "Capital Projects", capital_projects_path %></li>

<li class="active"><%= link_to "Monthly Cashflow", monthly_cashflows_path %></li>

<li><%= link_to "Revenue By Source", revenue_by_sources_path %></li>

<% end %>

</ul>

</div>

</div>

<div class="row">
	<div class="col col-lg-12">
		<div class="tabbable tabs third-level-navs" id="departmental_sdbips-tabs">
			<ul id = "myTab" class = "nav nav-tabs">
				<li class="active">
					<a href = "#view_monthly_cashflows" data-toggle = "tab"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;View Monthly Cashflows</a>
				</li>
				<li>
					<a href = "#edit_monthly_cashflows" data-toggle = "tab"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit Monthly Cashflows</a>
				</li>
				<li>
					<a href = "#manage_monthly_cashflows" data-toggle = "tab"><span class="glyphicon glyphicon-edit"></span>&nbsp;Update Monthly Cashflows</a>
				</li>
				<li>
					<a href = "#new_monthly_cashflow" data-toggle = "tab">
						<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Monthly Cashflow
					</a>
				</li>
			</ul><!-- nav nav-tabs -->
		</div><!-- tabbable tabs -->

		<div id = "myTabContent" class = "tab-content">
			<br/>

			<div class = "tab-pane active fade in" id = "view_monthly_cashflows">

				<% if @monthly_cashflows.blank? && MonthlyCashflow.blank? %>

				<p> There are no Monthly Cashflows currently in the system. </p>

				<% elsif @monthly_cashflows.blank? && !MonthlyCashflow.blank? %>

				<p> You currently have no Monthly Cashflows. </p>

				<% elsif !@monthly_cashflows.blank? %>

				<div class="table-responsive">

					<%= render 'monthly_cashflows'%>

					<%= will_paginate @monthly_cashflows %>

				</div>

				<% end %>
			</div>

			<div class = "tab-pane active fade" id = "edit_monthly_cashflows">
					<br/>
							<% if @monthly_cashflows.blank? && MonthlyCashflow.blank? %>

							<p> There are no Monthly Cashflows currently in the system to edit. </p>

							<% elsif @monthly_cashflows.blank? && !MonthlyCashflow.blank? %>

							<p> You currently have no Monthly Cashflows to edit. </p>

							<% elsif !@monthly_cashflows.blank? %>

							<div class="table-responsive">

								<%= render 'update_monthly_cashflow'%>

								<%= will_paginate @monthly_cashflows %>

							</div>

							<% end %>

		</div>

			<div class = "tab-pane active fade" id = "manage_monthly_cashflows">
					<br/>
							<% if @monthly_cashflows.blank? && MonthlyCashflow.blank? %>

							<p> There are no Monthly Cashflows currently in the system to edit. </p>

							<% elsif @monthly_cashflows.blank? && !MonthlyCashflow.blank? %>

							<p> You currently have no Monthly Cashflows to edit. </p>

							<% elsif !@monthly_cashflows.blank? %>

							<div class="table-responsive">

								<%= render 'edit_monthly_cashflow'%>

								<%= will_paginate @monthly_cashflows %>

							</div>

							<% end %>

		</div>
		<div class = "tab-pane fade" id = "new_monthly_cashflow">
						<h2>New Monthly Cashflow</h2>
			<%= render 'form' %>
		</div>
</div>
</div>
</div>
