<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @monthly_cashflow.month %>
</p>

<p>
  <strong>Vote number:</strong>
  <%= @monthly_cashflow.vote_number %>
</p>

<p>
  <strong>Subdepartment:</strong>
  <%= @monthly_cashflow.subdepartment_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @monthly_cashflow.department_id %>
</p>

<p>
  <strong>Mscore classification:</strong>
  <%= @monthly_cashflow.mscore_classification_id %>
</p>

<p>
  <strong>Line item:</strong>
  <%= @monthly_cashflow.line_item %>
</p>

<p>
  <strong>Operational expenditure:</strong>
  <%= @monthly_cashflow.operational_expenditure %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @monthly_cashflow.revenue %>
</p>

<p>
  <strong>Capital expenditure:</strong>
  <%= @monthly_cashflow.capital_expenditure %>
</p>

<%= link_to 'Edit', edit_monthly_cashflow_path(@monthly_cashflow) %> |
<%= link_to 'Back', monthly_cashflows_path %>
