<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @kpi_owner.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @kpi_owner.title %>
</p>

<%= link_to 'Edit', edit_kpi_owner_path(@kpi_owner) %> |
<%= link_to 'Back', kpi_owners_path %>
