<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Department</th>
                <th>Subdepartment</th>
                <th>Project Name</th>
                <th>Project Description</th>
                <th>Vote Number</th>
                <th>Mscore Classification</th>
                <th>Municipality CP Ref</th>
                <th>IDP Number</th>
                <th>Funding Source</th>
                <th>Planned Start Date</th>
                <th>Planned Completion Date</th>
                <th>Actual Start Date</th>
                <th>Actual Completion Date</th>
                <th>Ward</th>
                <th>Area</th>

            </tr>
        </thead>

        <tbody>
            <% @capital_projects.each do |capital_project| %>
            <tr>
                <td><%= capital_project.subdepartment.department.name %></td>
                <td><%= capital_project.subdepartment.name %></td>

                <td>
                    <%= link_to capital_project_path(capital_project),remote: true,'data-target' => "#show-capital-project-modal", 'data-toggle' => 'modal', :title=>"Click to View Capital Project details" do %>
                    <%= capital_project.project_name %>
                    <% end %>
                    <div id="show-capital-project-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true"></div>

                </td>

                <td><%= capital_project.departmental_sdbip.kpi_ref_number %></td>
                <td><%= capital_project.vote_number %></td>
                <td><% if !capital_project.mscore_classification_id.blank? %><%= capital_project.mscore_classification.name %><% end %></td>
                <td><%= capital_project.mun_cp_ref %></td>
                <td><%= capital_project.idp_nummber %></td>

                <td><%= capital_project.funding_source %></td>
                <td><%= capital_project.planned_start_date %></td>
                <td><%= capital_project.planned_completion_date %></td>
                <td><%= capital_project.actual_start_date %></td>
                <td><%= capital_project.actual_completion_date %></td>
                <td><% if !capital_project.ward_id.blank? %><%= capital_project.ward_name %><% end %></td>
                <td><% if !capital_project.area_id.blank? %><%= capital_project.area_name %><% end %></td>

            </tr>
            <% end %>
        </tbody>
    </table>
</div>
