<div class="table-responsive">
    <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><h5>Department</h5></th>
        <th><h5>Subdepartment</h5></th>
        <th><h5>Mscore Classification</h5></th>
        <th><h5>Municipality CP Ref</h5></th>
        <th><h5>IDP Number</h5></th>
        <th><h5>Vote Number</h5></th>
        <th><h5>Project Name</h5></th>
        <th><h5>Project Description</h5></th>
        <th><h5>Funding Source</h5></th>
        <th><h5>Planned Start Date</h5></th>
        <th><h5>Planned Completion Date</h5></th>
        <th><h5>Actual Start Date</h5></th>
        <th><h5>Actual Completion Date</h5></th>
        <th><h5>Ward</h5></th>
        <th><h5>Area</h5></th>
        <th><h5>July</h5></th>
        <th><h5>August</h5></th>
        <th><h5>September</h5></th>
        <th><h5>October</h5></th>
        <th><h5>November</h5></th>
        <th><h5>December</h5></th>
        <th><h5>January</h5></th>
        <th><h5>February</h5></th>
        <th><h5>March</h5></th>
        <th><h5>April</h5></th>
        <th><h5>May</h5></th>
        <th><h5>June</h5></th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @capital_projects.each do |capital_project| %>
        <tr>
          <td><%= capital_project.department.name %></td>
          <td><%= capital_project.subdepartment.subdepartment_name %></td>
          <td><% if !capital_project.mscore_classification_id.blank? %><%= capital_project.mscore_classification.name %><% end %></td>
          <td><%= capital_project.mun_cp_ref %></td>
          <td><%= capital_project.idp_nummber %></td>
          <td><%= capital_project.vote_number %></td>
          <td><%= capital_project.project_name %></td>
          <td><%= capital_project.project_description %></td>
          <td><%= capital_project.funding_source %></td>
          <td><%= capital_project.planned_start_date %></td>
          <td><%= capital_project.planned_completion_date %></td>
          <td><%= capital_project.actual_start_date %></td>
          <td><%= capital_project.actual_completion_date %></td>
          <td><% if !capital_project.ward_id.blank? %><%= capital_project.ward.name %><% end %></td>
          <td><% if !capital_project.area_id.blank? %><%= capital_project.area.name %><% end %></td>
          <td><%= capital_project.july %></td>
          <td><%= capital_project.august %></td>
          <td><%= capital_project.september %></td>
          <td><%= capital_project.october %></td>
          <td><%= capital_project.november %></td>
          <td><%= capital_project.december %></td>
          <td><%= capital_project.january %></td>
          <td><%= capital_project.february %></td>
          <td><%= capital_project.march %></td>
          <td><%= capital_project.april %></td>
          <td><%= capital_project.may %></td>
          <td><%= capital_project.june %></td>
          <td>  <%= link_to edit_capital_project_path(capital_project), class: "btn btn-mini", :title=>"Click to update KPI" do %>
              <span class="glyphicon glyphicon-edit"></span>&nbsp;Update
            <% end %></td>

        </tr>
      <% end %>
    </tbody>
</table>
</div>
