<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @capital_project.department.name %>
</p>

<p>
  <strong>Subdepartment:</strong>
  <%= @capital_project.subdepartment.subdepartment_name %>
</p>

<p>
  <strong>Mscoreclassification:</strong>
  <%= @capital_project.MscoreClassification %>
</p>

<p>
  <strong>Muncpref:</strong>
  <%= @capital_project.MunCPRef %>
</p>

<p>
  <strong>Idpnumber:</strong>
  <%= @capital_project.IDPNumber %>
</p>

<p>
  <strong>Votenumber:</strong>
  <%= @capital_project.VoteNumber %>
</p>

<p>
  <strong>Projectname:</strong>
  <%= @capital_project.ProjectName %>
</p>

<p>
  <strong>Projectdescription:</strong>
  <%= @capital_project.ProjectDescription %>
</p>

<p>
  <strong>Fundingsource:</strong>
  <%= @capital_project.FundingSource %>
</p>

<p>
  <strong>Plannedstartdate:</strong>
  <%= @capital_project.PlannedStartDate %>
</p>

<p>
  <strong>Plannedcompletiondate:</strong>
  <%= @capital_project.PlannedCompletionDate %>
</p>

<p>
  <strong>Actualstartdate:</strong>
  <%= @capital_project.ActualStartDate %>
</p>

<p>
  <strong>Actualcompletiondate:</strong>
  <%= @capital_project.ActualCompletionDate %>
</p>

<p>
  <strong>Ward:</strong>
  <%= @capital_project.Ward %>
</p>

<p>
  <strong>Area:</strong>
  <%= @capital_project.Area %>
</p>

<p>
  <strong>July:</strong>
  <%= @capital_project.July %>
</p>

<p>
  <strong>August:</strong>
  <%= @capital_project.August %>
</p>

<p>
  <strong>September:</strong>
  <%= @capital_project.September %>
</p>

<p>
  <strong>October:</strong>
  <%= @capital_project.October %>
</p>

<p>
  <strong>November:</strong>
  <%= @capital_project.November %>
</p>

<p>
  <strong>December:</strong>
  <%= @capital_project.December %>
</p>

<p>
  <strong>January:</strong>
  <%= @capital_project.January %>
</p>

<p>
  <strong>February:</strong>
  <%= @capital_project.February %>
</p>

<p>
  <strong>March:</strong>
  <%= @capital_project.March %>
</p>

<p>
  <strong>April:</strong>
  <%= @capital_project.April %>
</p>

<p>
  <strong>May:</strong>
  <%= @capital_project.May %>
</p>

<p>
  <strong>June:</strong>
  <%= @capital_project.June %>
</p>

<%= link_to 'Edit', edit_capital_project_path(@capital_project) %> |
<%= link_to 'Back', capital_projects_path %>
