<div class="tab-pane active" id="active_users">
    <div class="table-responsive table-bordered">
        <table class="table">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Ref</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Date Added</th>
                    <th>Last Login</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% active_users.each do |active_user| %>
                <tr>
                    <td><%= image_tag(active_user.avatar.url(:thumb), size: 50) %>
                    </td>
                    <td><%= active_user.id %></td>
                    <td><%= active_user.firstname %></td>
                    <td><%= active_user.surname %></td>
                    <td><%= active_user.email %></td>
                    <td><%= active_user.created_at.strftime("%Y %b %d %H:%M:%S") %></td>
                    <td><% if !active_user.last_login.blank? %><%= active_user.last_login.strftime("%Y %b %d %H:%M:%S") %><% end %></td>
                    <td>
                        <%= link_to edit_active_user_path(active_user),remote: true,'data-target' => "#edit-active-user-modal", 'data-toggle' => 'modal', class: "btn btn-sm", :title=>"Click to Edit user details" do %>
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Details
                        <% end %>
                        <% if current_user.admin? && !current_user?(active_user) && !active_user.role.blank? %>
                        |
                        <%= link_to grant_user_access_path(active_user.role.id),remote: true,'data-target' => "#active-user-access-modal", 'data-toggle' => 'modal', class: "btn btn-sm", :title=>"Click to edit user access" do %>
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Access
                        <% end %>
                        <div id="active-user-access-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true"></div>
                        <% end %>
                        <% if current_user.admin? && !current_user?(active_user) && active_user.role.blank? %>
                        |
                        <%= link_to grant_new_user_access_path(:id=>active_user.id),remote: true,'data-target' => "#new-active-user-access-modal", 'data-toggle' => 'modal', class: "btn btn-sm", :title=>"Click to edit user access" do %>
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Access
                        <% end %>
                        <div id="new-active-user-access-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true"></div>
                        <% end %>

                        <% if current_user.admin? && !current_user?(active_user) %>
                        |

                        <%= link_to "",'data-target' => "#reset-password", 'data-toggle' => 'modal', class: "btn btn-sm", :title=>"Click to change your password" do %>
                        <span class="glyphicon glyphicon-lock"></span>&nbsp;Reset Password
                        <% end %>

                        <% end %>
                        <% if current_user.admin? && !current_user?(active_user) && !active_user.admin? %>
                        |
                        <%= link_to active_user, data:{confirm: 'Are you sure?'} , :method => :delete, class: "btn btn-sm" do %>
                        <span class="glyphicon glyphicon-trash"></span>&nbsp; Delete
                        <% end %>
                        <% end %>
                        <div id="edit-active-user-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true"></div>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= will_paginate active_users %>
    </div>
    <!-- table-responsive -->
</div>
<div class="modal fade" id="reset-password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3><%= "Reset password #{@user.firstname}" %></h3>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <%= form_for(:password_reset, url: password_resets_path) do |f| %>
                        <%= f.label :email %>
                        <%= f.email_field :email, class: 'form-control' %>
                        <%= f.submit "Submit", class: "btn" %>
                        <% end %>
                    </div>
                </div>
            </div>

            <div class="modal-footer"></div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
