<div class="tab-pane" id="all_users">
<div class="table-responsive table-bordered">
  <table class="table">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Ref</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date Added</th>
        <th>Last Login</th>
        <th>Status</th>
        <th>Date Terminated</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag(user.avatar.url(:thumb), size: 50) %></td>
        <td><%= user.id %></td>
        <td><%= user.firstname %></td>
        <td><%= user.surname %></td>
        <td><%= user.created_at.strftime("%Y %b %d %H:%M:%S") %></td>
        <td><% if !user.last_login.blank? %><%= user.last_login.strftime("%Y %b %d %H:%M:%S") %><% end %></td>
        <td><%= user.status%></td>
        <td><% if !user.terminated_at.blank? %><%= user.terminated_at.strftime("%Y %b %d %H:%M:%S") %><% end %></td>

        <td>
          <% if !user.terminated? %>
          <%= link_to edit_user_path(user),remote: true,'data-target' => "#user-modal", 'data-toggle' => 'modal', class: "btn btn-sm", :title=>"Click to Edit user details" do %>
              <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Details
            <% end %>
            <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

            </div>
            <% if !user.role.blank? && user.editable_by?(current_user) %> |
            <%= link_to edit_user_access_path(user.role.id),remote: true,'data-target' => "#user-role-modal", 'data-toggle' => 'modal', class: "btn btn-sm", :title=>"Click to edit user access" do %>
                                <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Access
                              <% end %>
                <div id="user-role-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

                </div>
          <% elsif user.role.blank? && user.editable_by?(current_user) %> |
            <%= link_to new_user_role_path(:id=>user.id),remote: true,'data-target' => "#new-user-role-modal", 'data-toggle' => 'modal', class: "btn btn-sm", :title=>"Click to edit user access" do %>
                                <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Access
                              <% end %>
                <div id="new-user-role-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

                </div>
          <% end %>
          <% if user && user.editable_by?(current_user) %> |
          <%= link_to "",'data-target' => "#reset-password", 'data-toggle' => 'modal', class: "btn btn-sm", :title=>"Click to change your password" do %>
              <span class="glyphicon glyphicon-lock"></span>&nbsp;Reset Password
            <% end %>
          <% end %>
          <% if user && user.editable_by?(current_user) %>
           |
          <%= link_to user, data:{confirm: 'Are you sure?'} , :method => :delete, class: "btn btn-sm" do %><span class="glyphicon glyphicon-trash"></span>&nbsp;
            Delete
          <% end %>
          <% end %>
          <% else user.terminated? %>
          <%= link_to "",controller: "users", action: "restore", id: user.id, method: "get",class:"btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-circle-ok"></span>Restore
          <% end %><% end %>
        </td>
      </tr>
      <% end %>
          </tbody>
  </table>
  <%= will_paginate users %>
</div> <!-- table-responsive -->
</div>
<!-- Modal -->
<div class="modal fade" id="reset-password-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
&times;
</button>
<h4 class="modal-title" id="myModalLabel">
  Forgot password
</h4>
</div>
<div class="modal-body">

  <div class="row">
    <div class="col-md-10">
      <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <%= f.submit "Submit", class: "btn" %>
        <% end %>
    </div>
  </div>
</div>
<div class="modal-footer">

</div>
</div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
