<div class="tab-pane" id="all_users">
<div class="table-responsive table-bordered">
  <table class="table">
    <thead>
      <tr>
        <th><h4>Avatar</h4></th>
        <th><h4>Ref</h4></th>
        <th><h4>First Name</h4></th>
        <th><h4>Last Name</h4></th>
        <th><h4>Email</h4></th>
        <th><h4>Date Added</h4></th>
        <th><h4>Last Login</h4></th>
        <th><h4>Status</h4></th>
        <th><h4>Actions</h4></th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= gravatar_for user, size: 50 %></td>
        <td><%= user.id %></td>
        <td><%= user.firstname %></td>
        <td><%= user.surname %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.strftime("%Y %b %d") %></td>
        <td><% if !user.last_login.blank? %><%= user.last_login.strftime("%Y %b %d") %><% end %></td>
        <td><%= user.status%></td>
        <td>
          <% if !user.terminated? %>
          <%= link_to edit_user_path(user),remote: true,'data-target' => "#user-modal", 'data-toggle' => 'modal', class: "btn btn-sm", :title=>"Click to Edit user details" do %>
              <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Details
            <% end %>
            <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

            </div>
            <% if current_user.admin? && !current_user?(user) %> |
          <%= link_to "#", class: "btn btn-sm" do %>
            <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Access
          <% end %><% end %>
          <% if current_user.admin? && !current_user?(user) %> |
          <%= link_to "",'data-target' => "#reset-password", 'data-toggle' => 'modal', class: "btn btn-sm", :title=>"Click to change your password" do %>
              <span class="glyphicon glyphicon-lock"></span>&nbsp;Reset Password
            <% end %>
          <% end %>
          <% if current_user.admin? && !current_user?(user) %>
           |
          <%= link_to user, data:{confirm: 'Are you sure?'} , :method => :delete, class: "btn btn-sm" do %><span class="glyphicon glyphicon-trash"></span>&nbsp;
            Delete
          <% end %>
          <% end %>
          <% else user.terminated? %>
          <%= link_to "",controller: "users", action: "restore", id: user.id, method: "get",class:"btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-circle-ok"></span>Restore
          <% end %><% end %>
        </td>
      </tr>
      <% end %>
          </tbody>
  </table>
  <%= will_paginate @users %>
</div> <!-- table-responsive -->
</div>
<!-- Modal -->
<div class="modal fade" id="reset-password-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
&times;
</button>
<h4 class="modal-title" id="myModalLabel">
  Forgot password
</h4>
</div>
<div class="modal-body">

  <div class="row">
    <div class="col-md-10">
      <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <%= f.submit "Submit", class: "btn" %>
        <% end %>
    </div>
  </div>
</div>
<div class="modal-footer">

</div>
</div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
