<div class="tab-pane" id="locked_users">
<div class="table-responsive table-bordered">
  <table class="table">
    <thead>
      <tr>
        <th><h4>Avatar</h4></th>
        <th><h4>Ref</h4></th>
        <th><h4>First Name</h4></th>
        <th><h4>Last Name</h4></th>
        <th><h4>Username</h4></th>
        <th><h4>Date Added</h4></th>
        <th><h4>Last Login</h4></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @locked_users.each do |locked_user| %>
      <tr>
        <td><%= gravatar_for locked_user, size: 50 %></td>
        <td><%= locked_user.id %></td>
        <td><%= locked_user.firstname %></td>
        <td><%= locked_user.surname %></td>
        <td><%= locked_user.email %></td>
        <td><%= locked_user.created_at.strftime("%Y %b %d") %></td>
        <td><% if !locked_user.last_login.blank? %><%= locked_user.last_login.strftime("%Y %b %d") %><% end %></td>
        <td><% if !current_user?(locked_user) %>
        <%= link_to  controller: "users",action: "unlock_user", id: locked_user.id, method: "get",:data =>{confirm: "Unlock #{locked_user.firstname}?"}, :class => "btn btn-sm" do %>
          Unlock User
        <% end %>
        <% end %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div> <!-- table-responsive -->
</div>
