<div class="tab-pane" id="login_attempts_log">
<div class="table-responsive table-bordered">
  <table class="table">
    <thead>
      <tr>
        <th><h5>Avatar</h5></th>
        <th><h5>Ref</h5></th>
        <th><h5>First Name</h5></th>
        <th><h5>Last Name</h5></th>
        <th><h5>Email</h5></th>
        <th><h5>Date Added</h5></th>
        <th><h5>Log in Attempts</h5></th>
        <th><h5>Successful Log in Count</h5></th>
      </tr>
    </thead>
    <tbody>
     <% @user_login_attempts.each do |user_login_attempt| %>
      <tr>
        <td><%= gravatar_for user_login_attempt, size: 50 %></td>
        <td><%= user_login_attempt.id %></td>
        <td><%= user_login_attempt.firstname %></td>
        <td><%= user_login_attempt.surname %></td>
        <td><%= user_login_attempt.email %></td>
        <td><%= user_login_attempt.created_at.strftime("%Y %b %d") %></td>
        <td><%= user_login_attempt.login_attempts %></td>
          <td><%= user_login_attempt.login_count %></td>
            </tr>
          <% end %>
    </tbody>
  </table>
</div> <!-- table-responsive -->
</div>
