<div class="tab-pane active fade in" id="manage_users">
	<section class="media">
	  <div class="media-body">

			<article>

				<div class="tabbable tabs third-level-navs">
					<ul class="nav nav-tabs" id="ManageUsersTab">
						<li class="active"><a href="#active_users" data-toggle="tab">Active</a></li>
						<li><a href="#inactive_users" data-toggle="tab">Inactive</a></li>
						<li><a href="#new_users" data-toggle="tab">New</a></li>
						<li><a href="#locked_users" data-toggle="tab">Locked</a></li>
						<li><a href="#terminated_users" data-toggle="tab">Terminated</a></li>
						<li><a href="#all_users" data-toggle="tab">All</a></li>
					</ul><!-- nav nav-tabs -->
				</div><!-- tabbable tabs -->

				<section class="tab-content">

			    <%= render partial: 'active_users', :locals => { :active_users => @active_users } %>
			    <%= render partial: 'inactive_users', :locals => { :inactive_users => @inactive_users } %>
				<%= render partial: 'new_users', :locals => { :new_users => @new_users } %>
			    <%= render partial: 'locked_users', :locals => { :locked_users => @locked_users } %>
			    <%= render partial: 'terminated_users', :locals => { :terminated_users => @terminated_users } %>
				<%= render partial: 'all_users', :locals => { :users => @users } %>

				</section><!-- tab-content -->

			</article><!-- users -->

	  </div><!-- media-body -->
	</section><!-- media -->
</div><!-- friday -->
<script>
  // open tab on click
  $('#ManageUsersTab a').click(function (e) {
    e.preventDefault();
		$(this).addClass("active");
    $(this).tab('show');

    // getting tab id
    var id = $(e.target).attr("href").substr(1);

    // change hash value for all pages
    $('ul.pagination > li > a').each(function(i, pageAnchor) {
      pageAnchor.hash = id;
			alert(id);
    });
  });

  // assign tab id to location hash
  $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
    var id = $(e.target).attr("href").substr(1);
    window.location.hash = id;
  });

  // open initial hash
  var hash = window.location.hash;
  $('#ManageUsersTab a[href="' + hash + '"]').tab('show');

  // UPDATE
  $('ul.pagination > li > a').each(function(i, pageAnchor) {
    pageAnchor.hash = hash;
  });
</script>
