<div class="tab-pane" id="manage_users">
	<section class="media">
	  <div class="media-body">

			<article>

				<div class="tabbable tabs">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#active_users" data-toggle="tab">Active</a></li>
						<li><a href="#inactive_users" data-toggle="tab">Inactive</a></li>
						<li><a href="#new_users" data-toggle="tab">New</a></li>
						<li><a href="#locked_users" data-toggle="tab">Locked</a></li>
						<li><a href="#terminated_users" data-toggle="tab">Terminated</a></li>
						<li><a href="#all_users" data-toggle="tab">All</a></li>
					</ul><!-- nav nav-tabs -->
				</div><!-- tabbable tabs -->

				<section class="tab-content">

			    <%= render 'active_users' %>
			    <%= render 'inactive_users' %>
					<%= render 'new_users' %>
			    <%= render 'locked_users' %>
			    <%= render 'terminated_users' %>
					<%= render 'all_users' %>

				</section><!-- tab-content -->

			</article><!-- users -->

	  </div><!-- media-body -->
	</section><!-- media -->
</div><!-- friday -->
