<div class="tab-pane" id="report_users">
  <section class="media">
	  <div class="media-body">

      <article>

      	<div class="tabbable tabs third-level-navs">
      		<ul class="nav nav-tabs">
      			<li class="active"><a href="#user_details" data-toggle="tab">User Details</a></li>
      			<li><a href="#users_licenses" data-toggle="tab">Users Licences</a></li>
      			<li><a href="#users_details_log" data-toggle="tab">Users Details Log</a></li>
      			<li><a href="#login_attempts_log" data-toggle="tab">Login Attempts Log</a></li>
            <li><a href="#super_user_activity_log" data-toggle="tab">Super User Activity Log</a></li>
      			<li><a href="#users_activity_log" data-toggle="tab">User Activity Log</a></li>
      			<li><a href="#password_status" data-toggle="tab">Password Status</a></li>
      		</ul><!-- nav nav-tabs -->
      	</div><!-- tabbable tabs -->

      	<section class="tab-content">
            <%= render 'user_details' %>
            <%= render 'users_licenses' %>
            <%= render 'users_details_log' %>
            <%= render 'login_attempts_log' %>
            <%= render 'super_user_activity_log' %>
            <%= render 'users_activity_log' %>
            <%= render 'password_status' %>
      	</section><!-- tab-content -->

      </article><!-- users -->

	  </div><!-- media-body -->
	</section><!-- media -->
</div><!-- friday -->
