<div class="tab-pane fade" id="users_activity_log">
<div class="table-responsive table-bordered">
  <table class="table">
    <thead>
      <tr>
        <th><h5>Avatar</h5></th>
        <th><h5>Ref</h5></th>
        <th><h5>First Name</h5></th>
        <th><h5>Last Name</h5></th>
        <th><h5>Username</h5></th>
        <th><h5>Date</h5></th>
        <th><h5>Actions</h5></th>
      </tr>
    </thead>
    <tbody>
      <% @user_activities.each do |user_activity| %>

      <tr>
        <td></td>
        <td><% if !user_activity.user_id.blank? %><%= user_activity.id %><% end %></td>
        <td><% if !user_activity.user_id.blank? %><%= user_activity.user.firstname %><% end %></td>
        <td><% if !user_activity.user_id.blank? %><%= user_activity.user.surname %><% end %></td>
        <td><% if !user_activity.user_id.blank? %><%= user_activity.user.email %><% end %></td>
        <td><% if !user_activity.user_id.blank? %><%= user_activity.created_at.strftime("%Y %b %d %H-%M-%S") %><% end %></td>

        <td><% if !user_activity.user_id.blank? %><%= user_activity.note %><% end %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
      <%= will_paginate @user_activities %>
</div>
</div>
