<ul class="nav nav-pills nav-justified">
  <li class="<%= active_class(users_path) %>"><%= link_to "Manage Users", users_path %></li>
  <li class="<%= active_class(report_users_path) %>"><%= link_to "Report Users", report_users_path %></li>
  <li class="<%= active_class(setup_users_path) %>"><%= link_to "Setup Users", setup_users_path %></li>
  <li class="<%= active_class(new_user_path) %>"><%= link_to "Add User", new_user_path %></li>
</ul>
