<div class="tab-pane active fade in" id="user_access">
<div class="table-responsive table-bordered">
  <table class="table">
    <thead>
      <tr>
        <th><h4>User</h4></th>
        <th><h4>System Admin</h4></th>
        <th><h4>KPI Admin</h4></th>
        <th><h4>Finance Admin</h4></th>
        <th><h4>Top Layer Admin</h4></th>
        <th><h4>Audit Log Reporting</h4></th>
        <th><h4>Assurance Provider</h4></th>
        <th><h4>Secondary Time Period</h4></th>
        <th><h4>Setup</h4></th>
        <th><h4>Action</h4></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %>&nbsp;<%= user.surname %></td>
        <td><% if user.admin? %>Yes<% else %>No<% end %></td>
        <td><% if !user.role.blank? && user.role.kpi_owner? %>Yes<% else %>No<% end %></td>
        <td><% if !user.role.blank? && user.role.finance_admin? %>Yes<% else %>No<% end %></td>
        <td><% if !user.role.blank? && user.role.top_layer_administrator? %>Yes<% else %>No<% end %></td>
        <td><% if !user.role.blank? && user.role.audit_log_reporting? %>Yes<% else %>No<% end %></td>
        <td><% if !user.role.blank? && user.role.assurance_provider? %>Yes<% else %>No<% end %></td>
        <td><% if !user.role.blank? && user.role.secondary_time_period? %>Yes<% else %>No<% end %></td>
        <td><% if !user.role.blank? && user.role.setup? %>Yes<% else %>No<% end %></td>
        <td><% if !user.role.blank? %>
          <%= link_to edit_user_role_path(user),remote: true,'data-target' => "#user-access-modal", 'data-toggle' => 'modal', class: "btn btn-mini", :title=>"Click to Edit user access" do %>
            <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Access
          <% end %>
          <% else %>
          <%= link_to new_role_path(:id=> user.id), remote: true,'data-target' => "#new-access-modal", 'data-toggle' => 'modal', class: "btn btn-mini", :title=>"Click to Edit user access" do %>
            <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Access
          <% end %>
          <% end %>
          <div id="user-access-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

          </div>
          <div id="new-access-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

          </div>

        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div> <!-- table-responsive -->
<%= will_paginate @roles %>
</div>
