<div class="tab-pane active fade in" id="user_details">
  <div class="table-responsive col-lg-9">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th ><h5>Avatar</h5></th>
        <th ><h5>Ref</h5></th>
        <th ><h5>Title</h5></th>
        <th ><h5>First Name</h5></th>
        <th ><h5>Last Name</h5></th>
        <th ><h5>Job Tile</h5></th>
        <th ><h5>Department</h5></th>
        <th ><h5>Location</h5></th>
        <th ><h5>Manager</h5></th>
        <th ><h5>Employee Number</h5></th>
        <th ><h5>Employee Date</h5></th>
        <th ><h5>Country Prefix</h5></th>
        <th ><h5>Landline</h5></th>
        <th ><h5>Mobile</h5></th>
        <th ><h5>Fax</h5></th>
        <th ><h5>Email</h5></th>
        <th ><h5>Gender</h5></th>
        <th ><h5>Race</h5></th>
        <th ><h5>Disabled</h5></th>
        <th ><h5>Date Added</h5></th>
        <th ><h5>Last Login</h5></th>
        <th ><h5>Date Terminated</h5></th>
        <th ><h5>Login Count</h5></th>
        <th ><h5>Status</h5></th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= gravatar_for user, size: 50 %></td>
        <td><%= user.id %></td>
        <td><%= user.title %></td>
        <td><%= user.firstname %></td>
        <td><%= user.surname %></td>
        <td><%= user.job_title %></td>
        <td><%= user.department %></td>
        <td><%= user.location %></td>
        <td><%= user.manager %></td>
        <td><%= user.employee_number %></td>
        <td><% if !user.employment_date.blank? %><%= user.employment_date.strftime("%Y %b %d") %><% end %></td>
        <td><%= user.country_prefix %></td>
        <td><%= user.landline %></td>
        <td><%= user.mobile %></td>
        <td><%= user.fax %></td>
        <td><%= user.email %></td>
        <td><%= user.gender %></td>
        <td><%= user.race %></td>
        <td><%= user.disabled %></td>
        <td><%= user.created_at.strftime("%Y %b %d") %></td>
        <td><% if !user.last_login.blank? %><%= user.last_login.strftime("%Y %b %d") %><% end %></td>
        <td><% if !user.terminated_at.blank? %><%= user.terminated_at.strftime("%Y %b %d") %><% end %></td>
        <td><%= user.login_count %></td>
        <td><%= user.status %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @users %>
</div>
</div>
