<div class="tab-pane fade" id="users_details_log">
<div class="table-responsive table-bordered">
  <table class="table">
    <thead>
      <tr>
        <th><h4>Avatar</h4></th>
        <th><h4>Ref</h4></th>
        <th><h4>First Name</h4></th>
        <th><h4>Last Name</h4></th>
        <th><h4>Username</h4></th>
        <th><h4>Status</h4></th>
        <th><h4>Date Added</h4></th>
        <th><h4>Last Login</h4></th>
        <th><h4>Last Login IP</h4></th>
        <th><h4>Login Count</h4></th>
        <th><h4>Login Attempt</h4></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= gravatar_for user, size: 50 %></td>
        <td><%= user.id %></td>
        <td><%= user.firstname %></td>
        <td><%= user.surname %></td>
        <td><%= user.email %></td>
        <td><%= user.status%></td>
        <td><%= user.created_at.strftime("%Y %b %d") %></td>
        <td><% if !user.last_login.blank? %><%= user.last_login.strftime("%Y %b %d") %><% end %></td>
        <td><%= user.last_login_ip%></td>
        <td><%= user.login_count %></td>
        <td><%= user.login_attempts%></td>
      </tr>
      <% end %>
    </tbody>
    </table>
    <%= will_paginate @users %>
</div>
</div>
