<div class="tab-pane fade" id="users_details_log">
<div class="table-responsive table-bordered">
  <table class="table">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Ref</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Date Added</th>
        <th>Last Login</th>
        <th>Last Login IP</th>
        <th>Login Count</th>
        <th>Login Attempt</th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
      <tr>
        <td><%= image_tag(user.avatar.url(:thumb), size: 50) %></td>
        <td><%= user.id %></td>
        <td><%= user.firstname %></td>
        <td><%= user.surname %></td>
        <td><%= user.email %></td>
        <td><%= user.status%></td>
        <td><%= user.created_at.strftime("%Y %b %d") %></td>
        <td><% if !user.last_login.blank? %><%= user.last_login.strftime("%Y %b %d") %><% end %></td>
        <td><%= user.last_login_ip%></td>
        <td><%= user.login_count %></td>
        <td><%= user.login_attempts%></td>
      </tr>
      <% end %>
    </tbody>
    </table>
    <%= will_paginate users %>
</div>
</div>
