<% provide(:title, 'Users') %>
<article class="users">
  <%= render 'layouts/municipality' %>

  <%= render 'user_navigation' %>

  <section class="tab-content">
    <%= render 'manage_users' %>
    <%= render 'report_users' %>
    <%= render 'setup_users' %>
  </section><!-- tab-content -->
</article><!-- users -->
