<% provide(:title, @user.firstname) %>
<script>
$(function() {
	//highlight the current nav
	$("#applicationmanifest a:contains('USERS')").parent().addClass('active');
}); //jQuery is loaded
</script>
<div class="row">
  <div class="col-lg-6 col-md-offset-3">
    <div>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td align="right">
              <%= image_tag(@user.avatar.url(:thumb), size: 50) %>
            </td>
            <td align="left">
              <strong><%= @user.firstname %></strong>
            </td>
          </tr>
        </tbody>
      </table>
		</div>
		<hr>
		<div class="row">
		  <div class="col-lg-8 col-md-offset-3">

      <% if !@user.role.blank? %>
      <% if !@user.role.roles_details.blank? %>

        <% end %>
        <% end %>
			<table class="table table-hover table-striped">
			<tr>
      <th><strong>Role:</strong></th><td>
        <% if @user.admin? %>
          <%= label_tag "System Administrator" %>
        <% end %>
      <% if !@user.role.blank? %>
      <% if @user.role.kpi_owner? %>
        <%= label_tag :Kpi_Owner %>
        <% if !@user.role.roles_details.blank? %>

          <% end %>
        <% elsif @user.role.departmental_administrator?%>
        <%= label_tag :Departmental_Administrator %>
        <% if !@user.role.roles_details.blank? %>

          <% end %>
        <% elsif @user.role.municipal_manager?%>
        <%= label_tag :Municipal_Manager %>
        <% if !@user.role.roles_details.blank? %>
          <% end %>
        <% elsif @user.role.internal_auditor?%>
        <%= label_tag :Internal_Auditor %>
        <% elsif @user.role.auditor_general?%>
        <%= label_tag :Auditor_General %>
        <% elsif @user.role.finance_administrator?%>
        <%= label_tag :Finance_Administrator %>
          <% end %>
        <% end %>
      </td>
		</tr>
			<tr>
				<th>
      <strong>Location:</strong></th>
			<td>
        <%= @user.location %>
			</td>
		</tr>
		<tr>
      <th><strong>Email:</strong></th>
			<td>
        <%= link_to @user.email %>
      </td>
		</tr>
		<tr>

    	<th><strong>Registered:</strong></th>
        <td><%= @user.created_at %></td>
    </tr>
		<tr>
			<th>
    	<strong>Last Login:</strong></th>
				<td>
        <%= @user.activated_at %>
			</td>
    </tr>
			<tr>
  		<th><strong>Phone:</strong></th><td>
        <%= number_to_phone(@user.landline, :area_code => true, :delimiter => ' ') %>
      </td>
		</tr>
		<tr>
			<th>
  		<strong>Mobile:</strong></th>
			<td>
        <%= number_to_phone(@user.mobile, :area_code => true, :delimiter => ' ') %>
      </td>
		</tr>
		</table>
	</div>
</div>
    <hr>
    <div>

    </div>
		<br>
    <div class="text-center">

      <% if current_user.admin? && !current_user?(@user) %>&nbsp;|&nbsp;
      <%= link_to new_password_reset_path, :class=>"btn btn-mini btn-primary"  do %>
        <span class="glyphicon glyphicon-"></span>Reset Password
      <% end %>&nbsp;
      <% if @user.activated? %>
      |&nbsp;
      <%= link_to controller: "users", action: "deactivate", id: @user.id, method: "get",:class=>"btn btn-default btn-mini" do %>
        <span class="glyphicon glyphicon-ban-circle"></span>Deactivate
      <% end %>&nbsp;
      <% end %>
      <% if !@user.activated? %>
      |&nbsp;
      <%= link_to controller: "users", action: "activate", id: @user.id, method: "get", :class=>"btn btn-default btn-mini" do %>
        <span class="glyphicon glyphicon-ban-circle"></span>Activate
      <% end %>&nbsp;
      <% else %>

      <% end %>
       |&nbsp;
      <%= link_to  @user , :class=>"btn btn-danger btn-mini", method: :delete, data: { confirm: "You sure?" } do %>
        <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
      <% end %>
      <% end %>
		</div>
  </div>
</div>
