<div class="tab-pane fade" id="add_job_title">
  <div class="col-lg-6 col-lg-offset-3"><br/>
    <h3>New Job Title</h3><br/>
    <%= form_for(@jobtitle) do |f| %>
  <% if @jobtitle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobtitle.errors.count, "error") %> prohibited this jobtitle from being saved:</h2>

      <ul>
      <% @jobtitle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="field col-lg-">
      <%= f.label :title %><br>
      <%= f.text_field :title,:class=>'form-control', :required => true, :autocomplete=> "off" %>
    </div>
  </div>
  <div class="row">
    <div class="field col-lg-">
        <%= f.submit "Save", :class =>'col-lg-3 btn pull-right' %>
    </div>
  </div>
<% end %>
</div>
</div>
