<%= form_for(@master_setup),:multipart => true do |f| %>
  <% if @master_setup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@master_setup.errors.count, "error") %> prohibited this master_setup from being saved:</h2>

      <ul>
      <% @master_setup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-lg-12">
    <%= f.label :municipality %><br>
    <%= f.text_field :municipality,{:class => "form-control"} %>

  </div>
  <div class="field col-lg-12">
  <%= f.label :province, "Province:" %>
  <%= f.text_field :province, :class => "form-control",:autocomplete=>"off" %>
  </div>
  <div class="field col-lg-12">
  <%= f.label :address, "Address:" %>
  <%= f.text_area :address, :class => "form-control",:autocomplete=>"off",:required=>true %>
  </div>
  <div class="col-lg-12">
  <div class="row"><div class="col-lg-12">
  <%= f.fields_for :regions do |regions_for_form| %>

    <%= render 'regions_fields', f: regions_for_form %>

<% end %>
<%= link_to_add_fields "Add Region/Area", f, :regions %>
</div></div>
</div>
  <div class="actions col-lg-3 col-lg-offset-5">
    <%= f.submit "Save", :class=> "btn  pull-right" %>
  </div>
<% end %>
