<div class="row">
  <div class="col-lg-6 col-md-offset-3">
  <%= form_for(@jobtitle) do |f| %>
  <% if @jobtitle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobtitle.errors.count, "error") %> prohibited this jobtitle from being saved:</h2>

      <ul>
      <% @jobtitle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-5">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class=> "form-control",:require => true %>
  </div>

  <div class="col-lg- pull-right">
    <%= f.submit "Save", :class=> "btn pull-right" %>
  </div>
<% end %>
  </div>
</div>
