<div class = "tab-pane active fade in" id = "manage_locations">
      <div class="col col-lg-12">
 <table class="table table-hover">
   <thead>
   <tr>
     <th><h4>Ref</h4></th>
     <th><h4>Municipality</h4></th>
     <th><h4>Province</h4></th>
     <th><h4>Regions/Areas</h4></th>
     <th><h4>Actions</h4></th>
   </tr>
 </thead>

 <tbody>
 <% @master_setups.each do |setup| %>
   <tr>
     <td><%=  setup.id %></td>
       <td><%=  setup.municipality %></td>
           <td><%=  setup.province %></td>
         <td>
       <ol>
         <% setup.regions.each do |region_name| %>
     <li><%= region_name.name %></li>
     <% end %>
   </ol>
   </td>
     <td><%= link_to edit_master_setup_path(setup),class: 'btn btn-mini btn-warning', :style=>"text-decoration: none;", remote: true,'data-target' => "#master-setup-modal", 'data-toggle' => 'modal', :title=>"Click to Master Setup" do %>
       <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
     <% end %>
       <div id="master-setup-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

       </div>
    &nbsp;<%= link_to setup,class: 'btn btn-mini btn-danger', method: :delete, data: { confirm: 'Are you sure?' }, :style=>"text-decoration: none;" do %>
       <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
     <% end %>
     </td>
   </tr>
 <% end %>
 </tbody>
</table>
<div id="googleMap" style="height:200px;width:100%;"></div>
</div>
</div>
