<div class = "tab-pane active fade in" id = "manage_job_titles">
      <div class="col col-lg-12">
 <table class="table table-hover">
   <thead>
   <tr>
     <th><h5>Ref</h5></th>
     <th><h5>Job Title</h5></th>
     <th><h5>Created Date</h5></th>
     <th><h5>Updated Date</h5></th>
     <th><h5>Actions</h5></th>
   </tr>
 </thead>

 <tbody>
 <% @job_titles.each do |title| %>
   <tr>
     <td><%=  title.id %></td>
       <td><%=  title.title %></td>
        <td><%=  title.created_at %></td>
        <td><%= title.updated_at %></li></td>
     <td><%= link_to edit_jobtitle_path(title),class: 'btn btn-mini btn-warning', :style=>"text-decoration: none;", remote: true,'data-target' => "#jobtitle-modal", 'data-toggle' => 'modal', :title=>"Click to Master Setup" do %>
       <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
     <% end %>
       <div id="jobtitle-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

       </div>
     &nbsp;<%= link_to title,class: 'btn btn-mini btn-danger', method: :delete, data: { confirm: 'Are you sure?' }, :style=>"text-decoration: none;" do %>
       <span class="glyphicon glyphicon-remove-sign"></span>&nbsp;Delete
     <% end %>
     </td>
   </tr>
 <% end %>
 </tbody>
</table>
</div>
</div>
