<div class="col col-lg-12">
<table class="table table-hover table-striped table-responsive">

<tr>
 <th>Ref</th>
 <th>Municipality</th>
 <th>Province</th>
  <th>Location(Lat,Long)</th>
 <th>Regions/Areas</th>
 <th>Actions</th>
</tr>

<% master_setups.each do |setup| %>
<tr>
 <td><%=  setup.id %></td>
   <td><%=  setup.municipality %></td>
       <td><%=  setup.province %></td>
       <td><% if !setup.latitude.blank? || !setup.longitude.blank? %>
         <%=  setup.latitude %>&deg;,<%=  setup.longitude %>&deg;
         <% end %>
       </td>
     <td>
   <ol>
     <% areas.each do |area| %>
 <li><%= area.name %></li>
 <% end %>
</ol>
</td>

 <td><%= link_to edit_master_setup_path(setup),class: 'btn btn-mini btn-warning', :style=>"text-decoration: none;", remote: true,'data-target' => "#master-setup-modal", 'data-toggle' => 'modal', :title=>"Click to Master Setup" do %>
   <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
 <% end %>
   <div id="master-setup-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

   </div>

 </td>
</tr>
<% end %>

</table>
<div id="googleMap" style="height:400px;width:100%;"></div>
</div>
