<% provide(:title, 'Master Setup') %>
<script>
$(function() {
	//highlight the current nav
	$("#applicationmanifest a:contains('SETUP')").parent().addClass('active');
}); //jQuery is loaded
</script>

<div class="row">
<div class="col col-lg-">
<ul class="nav nav-pills nav-justified">
<li class="active"><%= link_to "Master Setup", master_setups_path %></li>
<li><%= link_to "System Setup", setups_path %></li>
<li><%= link_to "Departments", departments_path %></li>
<li><%= link_to "Departmental Administrators", roles_path %></li>
<li><%= link_to "Top Layer Administrators", roles_path %></li>
<li><%= link_to "Headings", headings_path %></li>
<li><%= link_to "Lists", lists_path %></li>
<li><%= link_to "Time Periods", sdbip_time_periods_path %></li>
</ul>
</div>
</div>

    <div class="row">
            <div class="tabbable tabs">
              <ul id = "myTab" class = "nav nav-tabs">
								<li class="active"><a href = "#master-setup" data-toggle = "tab">Locations</a></li>
								<li><a href = "#job-titles" data-toggle = "tab">Job Titles</a></li>
              </ul><!-- nav nav-tabs -->
            </div><!-- tabbable tabs -->
						<section class="tab-content">
							<%= render 'master_setup' %>
							<%= render 'setup_job_titles' %>
						</section>

</div>
