<p id="notice"><%= notice %></p>

<h1>Listing Strategic Objectives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @strategic_objectives.each do |strategic_objective| %>
      <tr>
        <td><%= strategic_objective.name %></td>
        <td><%= link_to 'Show', strategic_objective %></td>
        <td><%= link_to 'Edit', edit_strategic_objective_path(strategic_objective) %></td>
        <td><%= link_to 'Destroy', strategic_objective, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Strategic objective', new_strategic_objective_path %>
