<%= form_for(@department) do |f| %>
  <%= render 'shared/departmental_error_messages', object: @user %>
  <div class="row">
    <div class="col-lg-12">
      <div class="field col-lg-5">
        <%= f.label :name,"Department Name:" %>
        <%= f.text_field :name,:class=>"form-control", :autocomplete=>"off" %>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="field col-lg-6">
          <%= f.label :tel_no,"Department Landline no.:" %>
          <%= f.phone_field :tel_no ,:area_code => true, :delimiter => ' ',:class=>"form-control",:autocomplete=>"off" %>
        </div>

        <div class="field col-lg-6">
          <%= f.label :fax_no,"Department Fax no.:" %>
          <%= f.phone_field :fax_no, :area_code => true, :delimiter => ' ',:class=>"form-control",:autocomplete=>"off" %>
        </div>

      </div>
    </div>
    <div class="col-lg-12">
    <div class="row"><div class="col-lg-10">
    <%= f.fields_for :subdepartments do |subdepartments_for_form| %>

      <%= render 'subdepartment_fields', f: subdepartments_for_form %>

  <% end %>
  <%= link_to_add_fields "Add Subdepartment", f, :subdepartments %>
</div></div>
</div>
      <%= f.submit "Save",class: "btn btn-midi pull-right" %>
  <% end %>
