<fieldset>
    <div class="row">
        <div class="field col-lg-6">

            <%= f.label :name, "KPI Owner Title:" %>
            <%= f.text_field :name,:autocomplete=>"off", :class=>"form-control" %>

        </div>

        <div class="field col-lg-6">

            <%= f.label :user_id,"User:" %>

            <select class="form-control" id="user_id" name="user_id">
                <option value="">--select option--</option>
                <% @users.each do |user| %>
                <option value=<%= user.id %>><%= user.firstname %></option>
                <% end %>
            </select>
        </div>
    </div>
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remove KPI Owner", '#', class: "btn remove_fields" %>
</fieldset>
