<% provide(:title, "About Us") %>
<div>
  <h2>
    In this application
  </h2>
  <div class="row" id="about-section">
    <div class="col-lg-4">
      <div class="well well-sm">
        <h4><%= link_to "DASHBOARD", dashboard_path %></h4>
        <p>Overall Municipal SDBIP management summary by Users Statistics, Total Performance Standards,
          Total Performance Standards by Department, SDBIP Time Periods, Activity Log.
        </p>
      </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <div class="well well-sm">
        <h4><%= link_to "SETUP", setups_path %></h4>
        <p>
          KEYSTONE Application Setup, Department Setup, Lists Setup, Roles Setup, Headings Setup and Time Periods Setup.
        </p>
      </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <div class="well well-sm">
        <h4><%= link_to "SDBIP", departmental_sdbips_path %></h4>
        <p>
          View, Manage (Edit/Create/Delete) Departmental SDBIP, Capital Projects, Monthly Cashflows, Revenue by Source.
        </p>
      </div>
    </div><!-- /.col-lg-4 -->
  </div>
  <div class="row" id="about-section-1">
    <div class="col-lg-4">
      <div class="well well-sm">
        <h4><%= link_to "REPORTS", departmental_sdbip_progresses_path %></h4>
        <p>
          Generate customized Departmental SDBIP, Capital Projects, Monthly Cashflows, Revenue by Source reports and graphs.
        </p>
      </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <div class="well well-sm">
        <h4><%= link_to "USERS", users_path %></h4>
        <p>
          Manage (Create/Update/View/Delete) Users, Roles and KEYSTONE Access Rights.</p>
      </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <div class="well well-sm">
        <h4>ABOUT</h4>
        <p>
          Overall summary of the features supported by the KEYSTONE Application.
        </p>
      </div>
    </div><!-- /.col-lg-4 -->
  </div>
</div>
