  <div class="col-lg-6 col-md-offset-3">
    <%= form_for sdbip_time_period do |f| %>
  <%= f.label :period %><br>
  <div class="form-group">
    <div class="input-group date" data-provide="datepicker"
         data-date-format="dd-mm-yyyy" data-date-start-view="days" data-date-min-view-mode="days">
      <%= f.text_field :period,  class: "form-control" %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

	<%= f.label :primary_reminder %><br>
  <div class="form-group">
    <div class="input-group date" data-provide="datepicker"
         data-date-format="dd-mm-yyyy" data-date-start-view="days" data-date-min-view-mode="days">
      <%= f.text_field :primary_reminder,  class: "form-control" %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <%= f.label :primary_closure %><br>
  <div class="form-group">
    <div class="input-group date" data-provide="datepicker"
         data-date-format="dd-mm-yyyy" data-date-start-view="days" data-date-min-view-mode="days">
      <%= f.text_field :primary_closure,  class: "form-control" %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
    <%= f.label :secondary_reminder %><br>
    <div class="form-group">
      <div class="input-group date" data-provide="datepicker"
           data-date-format="dd-mm-yyyy" data-date-start-view="days" data-date-min-view-mode="days">
        <%= f.text_field :secondary_reminder,  class: "form-control" %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

  <%= f.label :secondary_closure %><br>
  <div class="form-group">
    <div class="input-group date" data-provide="datepicker"
         data-date-format="dd-mm-yyyy" data-date-start-view="days" data-date-min-view-mode="days">
      <%= f.text_field :secondary_closure,  class: "form-control" %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="actions col-lg-3 pull-right">
    <%= f.submit "Save", :class =>'btn btn-mini' %>
  </div>
  <% end %>
</div>
