<p id="notice"><%= notice %></p>

<h1>Listing Predetermined Objectives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @predetermined_objectives.each do |predetermined_objective| %>
      <tr>
        <td><%= predetermined_objective.name %></td>
        <td><%= link_to 'Show', predetermined_objective %></td>
        <td><%= link_to 'Edit', edit_predetermined_objective_path(predetermined_objective) %></td>
        <td><%= link_to 'Destroy', predetermined_objective, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Predetermined objective', new_predetermined_objective_path %>
