<p id="notice"><%= notice %></p>

<h1>Listing Kpi Concepts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kpi_concepts.each do |kpi_concept| %>
      <tr>
        <td><%= kpi_concept.name %></td>
        <td><%= kpi_concept.code %></td>
        <td><%= link_to 'Show', kpi_concept %></td>
        <td><%= link_to 'Edit', edit_kpi_concept_path(kpi_concept) %></td>
        <td><%= link_to 'Destroy', kpi_concept, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kpi concept', new_kpi_concept_path %>
