<p id="notice"><%= notice %></p>

<h1>Listing Mtas Indicators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mtas_indicators.each do |mtas_indicator| %>
      <tr>
        <td><%= mtas_indicator.name %></td>
        <td><%= link_to 'Show', mtas_indicator %></td>
        <td><%= link_to 'Edit', edit_mtas_indicator_path(mtas_indicator) %></td>
        <td><%= link_to 'Destroy', mtas_indicator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mtas indicator', new_mtas_indicator_path %>
