<div class="col-lg-6 col-lg-offset-3"><br/>
  <%= form_for(role) do |f| %>
<% if role.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(role.errors.count, "error") %>.
    </div>
    <ul>
    <% role.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.label :user_id, "Select User:" %>

<%= f.select :user_id, users_for_role.all.collect {|x| [x.firstname, x.id]}, {:include_blank => "Select User"}, class: "form-control" %>
<br/>
<div class="row">
	<div class="col-lg-11">
    <%= f.label :system_admin, class: "checkbox inline" do %>
		  <%= f.check_box :system_admin,:id=>"kpi_owner_checkbox" %>
      <span>System Admin</span>
    <% end %>
    <%= f.label :kpi_owner, class: "checkbox inline" do %>
		  <%= f.check_box :kpi_owner,:id=>"kpi_owner_checkbox" %>
      <span>KPI Admin</span>
    <% end %>
    <%= f.label :secondary_time_user, class: "checkbox inline" do %>
      <%= f.check_box :secondary_time_user %>
      <span>Secondary Time Period</span>
    <% end %>
    <%= f.label :department_administrator, class: "checkbox inline" do %>
      <%= f.check_box :departmental_administrator %>
      <span>Department Admin</span>
    <% end %>
    <%= f.label :finance_admin, class: "checkbox inline" do %>
      <%= f.check_box :finance_admin %>
      <span>Finance Admin</span>
    <% end %>
    <%= f.label :municipal_manager, class: "checkbox inline" do %>
      <%= f.check_box :municipal_manager%>
      <span>Top Layer Admin</span>
    <% end %>
    <%= f.label :internal_auditor, class: "checkbox inline" do %>
      <%= f.check_box :internal_auditor %>
      <span>Assurance Provider</span>
    <% end %>
    <%= f.label :audit_log_reporting, class: "checkbox inline" do %>
      <%= f.check_box :audit_log_reporting %>
      <span>Audit Log reporting</span>
    <% end %>
    <%= f.label :setup_admin, class: "checkbox inline" do %>
      <%= f.check_box :setup_admin %>
      <span>Setup</span>
    <% end %>
	</div>
</div>
  <hr>
  <div class="actions col-lg-3 pull-right">
    <%= f.submit "Save", :class =>'btn btn-mini' %>
  </div>


<% end %>
<hr/>
</div>
