<div class="row">
<div class="col-lg-12"><fieldset>
<% if @role.new_record? %>
<div id="department_select">
  <br/>
  <%= f.label :department_id, "Department Name:" %>
  <%= f.select(:department_id,options_for_select(Department.all.collect{ |u| [u.name, u.id] }),{},{class: 'form-control'}) %>
</div>
<% else %>
<br/>
<%= f.label :department_id, "Department Name:" %>
<%= f.select(:department_id,Department.all.collect{ |u| [u.name, u.id] },{},{class: 'form-control'}) %>
<% end %>
<% if @role.new_record? %>
<div id="subdepartment_select">
  <br/>
  <%= f.label :subdepartment_id, "Subdepartment Name:" %>
  <%= f.select(:subdepartment_id,options_for_select(Subdepartment.all.collect{ |u| [u.subdepartment_name, u.id] }),{}, {class: "form-control"}) %>
</div>
<% else %>
<br/>
<%= f.label :subdepartment_id, "Subdepartment Name:" %>
<%= f.select(:subdepartment_id,Subdepartment.all.collect{ |u| [u.subdepartment_name, u.id] },{}, {class: "form-control"}) %>

<% end %>

  <%= f.hidden_field :_destroy %>
  <!--<%= link_to "Remove Department/Subdepartment", '#', class: "btn remove_fields" %> |
  -->
</fieldset></div>
</div>
