<% provide(:title, @role.user.firstname) %>
<script>
$(function() {
	//highlight the current nav
	$("#applicationmanifest a:contains('SETUP')").parent().addClass('active');
}); //jQuery is loaded
</script>
<h3><%= @role.user.firstname %></h3>
<hr/>
<div class="row">
	<div class="col-md-4 col-sm-8">
		<small>Create Date </small>
<small><%= @role.created_at.strftime("%d %b %Y") %></small>
	</div>
	<div class="col-md-2 col-sm-4">
		<small>Update Date </small>
<small><%= @role.updated_at.strftime("%d %b %Y ") %></small>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-sm-8">

	</div>
</div>

<strong>Role Name</strong>
<output><%=  %></output>

<strong>Department(s) Name</strong>
<output>
<% if !@role.roles_details.blank? %>
<% @role.roles_details.each do |role_detail| %>
<%= role_detail.department.name %>
<% end %>
<% end %>
</output>
<br/>
<strong>Sub-department(s) Name</strong>
<output>
<% if !@role.roles_details.blank? %>
<% @role.roles_details.each do |role_detail| %>
<%= role_detail.subdepartment.subdepartment_name %>
<% end %>
<% end %>
</output>
<br/>
<%= link_to "Edit", edit_role_path %> | <%= link_to "Back", roles_path %>
