<div id="generate-audit-report" class="tab-pane fade">
  <h3>Audit Log Report</h3>
  <hr/>
<%= form_tag  method: :get do %>
<div class="allboxes">
  <fieldset id="select-info">
    <legend><br/>1. Select the information to be displayed in the report:</legend>
    <div class="allboxes">
    <div class="form-group row">
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" id="department-checkbox" name="audit_checkbox" value="Department">&nbsp;&nbsp;&nbsp;&nbsp;Department
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" style="margin-left: 0;" name="audit_checkbox" id="sub-department-checkbox" value="Sub-Department">&nbsp;&nbsp;&nbsp;&nbsp;Sub-Department
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" id="kpi-ref-number-checkbox" name="audit_checkbox" value="KPI Ref Number">&nbsp;&nbsp;&nbsp;&nbsp;KPI Ref Number
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" id="pre-determined-objectives-checkbox" name="audit_checkbox" value="Pre-determined Objectives">&nbsp;&nbsp;&nbsp;&nbsp;Pre-determined Objectives
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="KPI Owner" name="audit_checkbox" id="kpi-owner-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;KPI Owner
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="KPI" name="audit_checkbox" id="kpi-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;KPI
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="Unit of Measurement" name="audit_checkbox" id="unit-of-measurement-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;Unit of Measurement
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="GFS Classification" name="audit_checkbox" id="gfs-classification-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;GFS Classification
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="IDP Ref" name="audit_checkbox" id="idp-ref-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;IDP Ref
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="National Outcome" name="audit_checkbox" id="national-outcome-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;National Outcome
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="Strategic Objective" name="audit_checkbox" id="strategic-objective-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;Strategic Objective
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="Source of Evidence" name="audit_checkbox" id="source-of-evidence-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;Source of Evidence
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="Baseline" name="audit_checkbox" id="budget-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;Baseline
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="Target" name="audit_checkbox" id="target-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;Target
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="Annual Target" name="audit_checkbox" id="annual-target">&nbsp;&nbsp;&nbsp;&nbsp;Annual Target
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="Revised Target" name="audit_checkbox" id="revised-target-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;Revised Target
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="National KPA" name="audit_checkbox" id="national-kpa-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;National KPA
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="Municipal KPA" name="audit_checkbox" id="municipal-kpa">&nbsp;&nbsp;&nbsp;&nbsp;Municipal KPA
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="NDP Objectives" name="audit_checkbox" id="ndp-objectives-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;NDP Objectives
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="Capital Project" name="audit_checkbox" id="capital-project-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;Capital Project
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="KPI Concept" name="audit_checkbox" id="kpi-concept-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;KPI Concept
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="KPI Type" name="audit_checkbox" id="kpi-type-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;KPI Type
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" value="Impact" name="audit_checkbox" id="impact-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;Impact
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" name="audit_checkbox" id="provincial-strategic-outcome-checkbox" value="Provincial Strategic Outcome">&nbsp;&nbsp;&nbsp;&nbsp;Provincial Strategic Outcome
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" name="audit_checkbox" id="wards-checkbox" value="Wards">&nbsp;&nbsp;&nbsp;&nbsp;Wards
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" id="area-checkbox" name="audit_checkbox" value="Area">&nbsp;&nbsp;&nbsp;&nbsp;Area
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" name="audit_checkbox" id="pevious-year-actual-checkbox" value="Previous Year Actual Performance">&nbsp;&nbsp;&nbsp;&nbsp;Previous Year Actual Performance
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" name="audit_checkbox" id="performance-standard-checkbox" value="Performance Standard">&nbsp;&nbsp;&nbsp;&nbsp;Performance Standard
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" name="audit_checkbox" id="reporting-category-checkbox" value="Reporting Category">&nbsp;&nbsp;&nbsp;&nbsp;Reporting Category
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" name="audit_checkbox" id="top-layer-kpi-ref-checkbox" value="Top Layer KPI Ref">&nbsp;&nbsp;&nbsp;&nbsp;Top Layer KPI Ref
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" name="audit_checkbox" id="kpi-calculation-type-checkbox" value="KPI Calculation Type">&nbsp;&nbsp;&nbsp;&nbsp;KPI Calculation Type
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" name="audit_checkbox" id="performance-comment-checkbox" value="Performance Comment">&nbsp;&nbsp;&nbsp;&nbsp;Performance Comment
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" name="audit_checkbox" id="target-actual-results-checkbox" value="Target, Actual and Results">&nbsp;&nbsp;&nbsp;&nbsp;Target, Actual and Results
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" name="audit_checkbox" id="corrective-measures-checkbox" value="Corrective Measures">&nbsp;&nbsp;&nbsp;&nbsp;Corrective Measures
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" name="audit_checkbox" id="proof-of-evidence-checkbox" value="Proof of evidence">&nbsp;&nbsp;&nbsp;&nbsp;Proof of evidence
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" name="audit_checkbox" id="assurance-status-checkbox" value="Assurance Status">&nbsp;&nbsp;&nbsp;&nbsp;Assurance Status
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="checkbox col col-lg-3">
        <label>
          <input type="checkbox" name="audit_checkbox" id="update-status-checkbox" value="Update Status">&nbsp;&nbsp;&nbsp;&nbsp;Update Status
        </label>
      </div>
      <div class="checkbox col col-lg-3">
          <label>
            <input type="checkbox" id="kpi-target-type-checkbox" value="KPI Target Type" name="audit_checkbox">&nbsp;&nbsp;&nbsp;&nbsp;KPI Target Type
          </label>
        </div>
      <div class="checkbox col col-lg-3">
        <label>
          <!-- input checkbox-->
        </label>
      </div>
      <div class="checkbox col col-lg-3">
        <label>
          <!-- input checkbox-->
        </label>
      </div>
    </div>
    <div class="form-group row col col-lg-12">
      <div class='col-lg-3'>
        <div>
          <label>Results From:</label>
          <div class="input-group date" data-provide="datepicker"
               data-date-format="M-yyyy" data-date-start-view="months" data-date-min-view-mode="months">
            <input type="text" class="form-control">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </div>
          </div>
        </div>
      </div>
      <div class='col-lg-3'>
        <div>
          <label>To:</label>
          <div class="input-group date" data-provide="datepicker"
               data-date-format="M-yyyy" data-date-start-view="months" data-date-min-view-mode="months">
            <input type="text" class="form-control">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-lg-6">
        <label>For each time period display:</label>
        <div class="radio">
          <label>
            <input type="radio" value="values as captured" name="display_method" id="display-method-captured" checked>Values as captured
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" value="year-to-date values" name="display_method" id="display-method-year">Year-To-Date Values
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" value="period-to-date values" name="display_method" id="display-method-period">Period-To-Date Values
          </label>
        </div>
      </div>
    </div>
  </fieldset><!-- personal info -->
  </div>
  <fieldset id="select-filter">
    <legend>2. Select the filter you wish to apply:</legend>
    <div class="form-group col col-lg-12">
      <label>Department:</label>
      <%= select_tag :department_id,options_for_select(Department.all.collect {|p| [ p.name, p.id ] }),{:required => true,:id=>"department-filter",:multiple => "true",:class=>'form-control'}%>

    </div>
    <%= hidden_field_tag "selected_columns",nil,:multiple => true,:id=> "current-selected-columns" %>
    <div class="form-group col col-lg-12">
      <label>Sub-Department:</label>
      <%= select_tag :subdepartment_id, options_for_select(Subdepartment.all.collect {|p| [ p.subdepartment_name, p.id ] }),{:id=>"sub-department-filter",:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
          <label class="control-label">KPI Ref Number:</label>
          <%= select_tag :kpi_ref_number,options_for_select(DepartmentalSdbip.all.collect {|p| [ p.kpi_ref_number, p.id ] }),{:id=>"kpi-ref-number-filter",:multiple => "true",:class=>'form-control'} %>

    </div>
    <div class="form-group col col-lg-12">
      <label>Pre-determined Objectives:</label>
      <%= select_tag :predetermined_objective_id,options_for_select(PredeterminedObjective.all.collect {|p| [ p.name, p.id ] }),{:id=>"pre-determined-filter",:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <label>KPI Owner:</label><br/>
      <%= select_tag :kpi_owner_id,options_for_select(KpiOwner.all.collect {|p| [ p.name, p.id ] }),{:id=>"kpi-owner-filter",:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
          <label class="control-label">KPI:</label>
         <%= select_tag :kpi,options_for_select(DepartmentalSdbip.all.collect {|p| [ p.kpi, p.id ] }),{:id=>"kpi-filter",:multiple => "true",:class=>'form-control'} %>

    </div>
    <div class="form-group col col-lg-12">
          <label class="control-label">Unit of Measurement:</label><br/>
          <%= select_tag :unit_of_measurement, options_for_select(DepartmentalSdbip.all.collect {|p| [ p.unit_of_measurement, p.id ] }),{:id=>"unit-of-measurement-filter",:multiple => "true",:class=>'form-control'} %>
    </div>

    <div class="form-group col col-lg-12">
      <label>GFS Classification:</label>
      <%= select_tag :mscore_classification_id, options_for_select(MscoreClassification.all.collect {|p| [ p.name, p.id ] }),{:id=>"gfs-classification-filter",:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <label>Strategic Objective:</label>
      <%= select_tag :strategic_objective_id,options_for_select(StrategicObjective.all.collect {|p| [ p.name, p.id ] }),{:id=>"strategic-objective-filter",:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <label class="control-label">Source of Evidence:</label>

          <%= select_tag :source_of_evidence,options_for_select(DepartmentalSdbip.all.collect {|p| [ p.source_of_evidence, p.id ] }),{:multiple => "true",:class=>'form-control'} %>

    </div>
    <div class="form-group col col-lg-12">
      <label class="control-label">Baseline:</label>
          <%= select_tag :baseline,options_for_select(DepartmentalSdbip.all.collect {|p| [ p.baseline, p.id ] }),{:id=>'baseline-filter',:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <label class="control-label">Target:</label>
          <%= select_tag :annual_target,options_for_select(DepartmentalSdbip.all.collect {|p| [ p.annual_target, p.id ] }),{:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <label class="control-label">Annual Target:</label>
          <%= select_tag :annual_target,options_for_select(DepartmentalSdbip.all.collect {|p| [ p.annual_target, p.id ] }),{:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <label class="control-label">Revised Target:</label>
          <%= select_tag :revised_target,options_for_select(DepartmentalSdbip.all.collect {|p| [ p.revised_target, p.id ] }),{:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <label>National KPA:</label>
      <%= select_tag :national_kpa_id,options_for_select(Kpa.all.collect {|p| [ p.name, p.id ] }),{:id=>"national-kpa-filter",:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <label>Municipal KPA:</label>
      <%= select_tag :national_kpa_id,options_for_select(Kpa.all.collect {|p| [ p.name, p.id ] }),{:id=>'municipal-kpa-filter',:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <label>NDP Objectives:</label>
      <%= select_tag :ndp_objective_id,options_for_select(NdpObjective.all.collect {|p| [ p.name, p.id ] }),{:id=>'ndp-objectives-filter',:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <%= hidden_field_tag "capital_project_filters",nil,:multiple => false,:id=> "capital_project_filter" %>
      <label>Capital Project:</label>
      <div class="radio">
        <label>
          <input type="radio" value="all kpis" name="audit_cp_selection" id="audit-cp-selection-all" >All KPIs
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" value="operational kpis only" name="audit_cp_selection" id="audit-cp-selection-operational">Operational KPIs only
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" value="kpis associated with capital projects only" name="audit_cp_selection" id="audit-cp-selection-only">KPIs associated with Capital Projects only
        </label>
      </div>
    </div>
    <div class="form-group col col-lg-12">
      <label>KPI Concept:</label>
      <%= select_tag :kpi_concept_id,options_for_select(KpiConcept.all.collect {|p| [ p.name, p.id ] }),{:id=>'kpi-concept-filter',:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <label>KPI Type:</label>
      <%= select_tag :kpi_type_id, options_for_select(KpiType.all.collect {|p| [ p.name, p.id ] }),{:id=>'kpi-type-filter',:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <label>Impact:</label>
      <%= select_tag :impact, options_for_select(DepartmentalSdbip.all.collect {|p| [ p.impact, p.id ] }),{:id=>'impact-filter',:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <label>Provincial Strategic Outcome:</label>
      <%= select_tag :provincial_strategic_outcome_id, options_for_select(ProvincialStrategicOutcome.all.collect {|p| [ p.name, p.id ] }),{:id=>'provincial-strategic-outcome-filter',:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <label>Wards:</label>
      <%= select_tag :ward_id, options_for_select(Ward.all.collect {|p| [ p.name, p.id ] }),{:id=>'wards-filter',:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <label>Area:</label>
      <%= select_tag :area_id, options_for_select(Area.all.collect {|p| [ p.name, p.id ] }),{:id=>'area-filter',:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <label class="control-label">Previous Year Actual Performance:</label>

      <%= select_tag :past_year_performance, options_for_select(DepartmentalSdbip.where.not(past_year_performance: " ").collect {|p| [ p.past_year_performance, p.id ] }),{:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <label class="control-label">Performance Standard:</label>
        <%= select_tag :performance_standard, options_for_select(["KPI Not Met", "KPI Almost Met", "KPI Met", "KPI Well Met", "KPI Extremely Well Met"]),{:multiple => "true",:class=>'form-control'} %>
    </div>
    <div class="form-group col col-lg-12">
      <%= hidden_field_tag "top_layer_kpi_ref_filters",nil,:multiple => false,:id=> "top_layer_kpi_ref_filter" %>
      <label>Top Layer KPI Ref:</label>
      <div class="radio">
        <label>
          <input type="radio" value="all kpis" name="audit_tp_selection" id="tp-selection-all" checked>All KPIs
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" value="not linked to top layer kpi" name="audit_tp_selection" id="tp-selection-not-linked">Not linked to Top Layer KPI
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" value="linked to top layer kpi" name="audit_tp_selection" id="tp-selection-linked">Linked to Top Layer KPI
        </label>
      </div>
    </div>
    <div class="form-group col col-lg-12">
      <label>KPI Calculation Type:</label>
      <%= select_tag :kpi_calculation_type_id, options_for_select(KpiCalculationType.all.collect {|p| [ p.name, p.id ] }),{:id=>'kpi-calculation-filter',:multiple => "true",:class=>'form-control'} %>
    </div>

    <div class="form-group col col-lg-12">
      <label>KPI Result:</label>
      <select class="form-control" id="kpi-result-filter">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </fieldset><!-- personal info -->
  <fieldset id="choose-group">
    <legend>3. Choose your group and sort options:</legend>
    <div class="form-group col col-lg-12">
      <label>Group by:</label>
      <select class="form-control">
        <option>No grouping</option>

      </select>
    </div>
  </fieldset><!-- personal info -->
  <fieldset id="generate-report">
    <legend>4. Generate the report:</legend>
    <div class="form-group col col-lg-12">
      <label class="control-label">Report Title:</label>
      <div>
        <%= text_field_tag :file_name,nil,{:class => "form-control", :required => true}%>

      </div>
    </div>
    <div class="form-group col col-lg-12">
      <%= submit_tag "PDF",{:selected_columns => nil, :id => "audit-target-report", 'data-target'=>"audit_log_modal", 'data-toggle'=>"modal",:class=>"btn btn-midi col-lg-2 disabled pull-right"} %>&nbsp;
      <%= submit_tag "Excel",{:selected_columns => nil, :id => "audit-target-report", 'data-target'=>"audit_log_modal", 'data-toggle'=>"modal",:class=>"btn btn-midi col-lg-2 disabled pull-right"} %>&nbsp;
      <%= submit_tag "CSV",{:selected_columns => nil, :id => "audit-target-report", 'data-target'=>"audit_log_modal", 'data-toggle'=>"modal",:class=>"btn btn-midi col-lg-2 pull-right"} %>

    </div>
  </fieldset><!-- personal info -->
<% end %>

<% if @audit_logs.blank? && Activity.blank? %>

<% elsif !@audit_logs.blank? && !@selected_audit_headers.blank? %>

<div class="row col-lg-12">
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <% if @selected_audit_headers.include?('KPI')%><th>KPI</th><% end %>
        <% if @selected_audit_headers.include?('Department')%><th>Department</th><% end %>
        <% if @selected_audit_headers.include?('Sub-Department')%><th>Subdepartment</th><% end %>
        <% if @selected_audit_headers.include?('KPI Ref Number')%><th>KPI Ref Number</th><% end %>
        <% if @selected_audit_headers.include?('KPI Type')%><th>KPI Type</th><% end %>
        <% if @selected_audit_headers.include?('Pre-determined Objectives')%><th>Predetermined Objective</th><% end %>
        <% if @selected_audit_headers.include?('KPI Owner')%><th>KPI Owner</th><% end %>
        <% if @selected_audit_headers.include?('Unit of Measurement')%><th>Unit of Measurement</th><% end %>
        <% if @selected_audit_headers.include?('GFS Classification')%><th>GFS Classification</th><% end %>
        <% if @selected_audit_headers.include?('IDP Ref')%><th>IDP Ref</th><% end %>
        <% if @selected_audit_headers.include?('National Outcome')%><th>National Outcome</th><% end %>
        <% if @selected_audit_headers.include?('Strategic Objectives')%><th>Strategic Objective</th><% end %>
        <% if @selected_audit_headers.include?('Proof of evidence')%><th>Proof of Evidence</th><% end %>
        <% if @selected_audit_headers.include?('Corrective Measures')%><th>Corrective Measures</th><% end %>
        <% if @selected_audit_headers.include?('Baseline')%><th>Baseline</th><% end %>
        <% if @selected_audit_headers.include?('Annual Target')%><th>Annual Target</th><% end %>
        <% if @selected_audit_headers.include?('Revised Target')%><th>Revised Target</th><% end %>
        <% if @selected_audit_headers.include?('Target,Actual & Results')%>
            <th>First Quarter Target</th>
            <th>Second Quarter Target</th>
            <th>Third Quarter Target</th>
            <th>Fourth Quarter Target</th>
            <th>First Quarter Actual</th>
            <th>Second Quarter Actual</th>
            <th>Third Quarter Actual</th>
            <th>Fourth Quarter Actual</th>
        <% end %>
        <% if @selected_audit_headers.include?('Budget')%><th>Budget</th><% end %>
        <% if @selected_audit_headers.include?('Performance Standard')%><th>Performance Standard</th><% end %>
        <% if @selected_audit_headers.include?('Risk Rating')%><th>Risk Rating</th><% end %>
        <% if @selected_audit_headers.include?('KPA')%><th>KPA</th><% end %>
        <% if @selected_audit_headers.include?('NDP Objectives')%><th>NDP Objective</th><% end %>
        <% if @selected_audit_headers.include?('Capital Project')%><th>Capital Project</th><% end %>
        <% if @selected_audit_headers.include?('KPI Concept')%><th>KPI Concept</th><% end %>
        <% if @selected_audit_headers.include?('Impact')%><th>Impact</th><% end %>
        <% if @selected_audit_headers.include?('provincial Strategic Outcome')%><th>Provincial Strategic Outcome</th><% end %>
        <% if @selected_audit_headers.include?('Area')%><th>Area</th><% end %>
        <% if @selected_audit_headers.include?('Ward')%><th>Ward</th><% end %>
        <% if @selected_audit_headers.include?('Past Year Performance')%><th>Past Year Performance</th><% end %>
        <% if @selected_audit_headers.include?('Reporting Category')%><th>Reporting Category</th><% end %>
        <% if @selected_audit_headers.include?('Top Layer KPI Ref')%><th>Top Layer KPI Ref</th><% end %>
        <% if @selected_audit_headers.include?('KPI calculation Type')%><th>KPI Calculation Type</th><% end %>
        <% if @selected_audit_headers.include?('Update Status')%><th>Update Status</th><% end %>
        <% if @selected_audit_headers.include?('Assurance Status')%><th>Assurance Status</th><% end %>
      </tr>
    </thead>
    <tbody>
    <% @audit_logs.each do |activity_log| %>
      <tr>
        <% if @selected_audit_headers.include?('KPI')%><td><%= activity_log.kpi %></td><% end %>
        <% if @selected_audit_headers.include?('Department')%><td><%= activity_log.department.name %></td><% end %>
        <% if @selected_audit_headers.include?('Sub-Department')%><td><%= activity_log.subdepartment.subdepartment_name %></td><% end %>
        <% if @selected_audit_headers.include?('KPI Ref Number')%><td><%= activity_log.kpi_ref_number %></td><% end %>
        <% if @selected_audit_headers.include?('KPI Type')%><td><% if !activity_log.kpi_type_id.blank? %><%= activity_log.kpi_type.name %><% end %></td><% end %>
        <% if @selected_audit_headers.include?('Pre-determined Objectives')%><td><% if !activity_log.predetermined_objective_id.blank? %><%= activity_log.predetermined_objective.name %><% end %></td><% end %>
        <% if @selected_audit_headers.include?('KPI Owner')%><td><% if !activity_log.kpi_owner_id.blank? %><%= activity_log.kpi_owner.name %><% end %></td><% end %>
        <% if @selected_audit_headers.include?('Unit of Measurement')%><td><%= activity_log.unit_of_measurement %></td><% end %>
        <% if @selected_audit_headers.include?('GFS Classification')%><td><%= activity_log.mscore_classification.name %></td><% end %>
        <% if @selected_audit_headers.include?('IDP Ref')%><td><%= activity_log.idp_ref %></td><% end %>
        <% if @selected_audit_headers.include?('National Outcome')%><td><% if !activity_log.national_outcome_id.blank? %><%= activity_log.national_outcome.name %><% end %></td><% end %>
        <% if @selected_audit_headers.include?('Strategic Objectives')%><td><%= activity_log.strategic_objective.name %></td><% end %>
        <% if @selected_audit_headers.include?('Proof of evidence')%><td><%= activity_log.source_of_evidence %></td><% end %>
        <% if @selected_audit_headers.include?('Corrective Measures')%><td><%= activity_log.corrective_measures %></td><% end %>
        <% if @selected_audit_headers.include?('Baseline')%><td><%= activity_log.baseline %></td><% end %>
        <% if @selected_audit_headers.include?('Annual Target')%><th><%= activity_log.annual_target %></th><% end %>
        <% if @selected_audit_headers.include?('Revised Target')%><th><%= activity_log.revised_target %></th><% end %>
        <% if @selected_audit_headers.include?('Target, Actual & Results')%>
        <th><%= activity_log.first_quarter_target %></th>
        <th><%= activity_log.second_quarter_target %></th>
        <th><%= activity_log.third_quarter_target %></th>
        <th><%= activity_log.fourth_quarter_target %></th>
        <th><%= activity_log.first_quarter_actual %></th>
        <th><%= activity_log.second_quarter_actual %></th>
        <th><%= activity_log.third_quarter_actual %></th>
        <th><%= activity_log.fourth_quarter_actual %></th>
        <% end %>
        <% if @selected_audit_headers.include?('Budget')%><td><%= activity_log.budget %></td><% end %>
        <% if @selected_audit_headers.include?('Performance Standard')%><td><%= activity_log.performance_standard %></td><% end %>
        <% if @selected_audit_headers.include?('Risk Rating')%><td><% if !activity_log.risk_rating_id.blank?%><%= activity_log.risk_rating.name %><% end %></td><% end %>
        <% if @selected_audit_headers.include?('KPA')%><td><% if !activity_log.kpa_id.blank? %><%= activity_log.kpa.name %><% end %></td><% end %>
        <% if @selected_audit_headers.include?('NDP Objectives')%><td><% if !activity_log.ndp_objective_id.blank? %><%= activity_log.ndp_objective.name %><% end %></td><% end %>
        <% if @selected_audit_headers.include?('Capital Project')%><td><% if !activity_log.capital_project_id.blank? %>
          <%= activity_log.capital_project.mun_cp_ref %>
          <% end %>
        </td>
        <% end %>
        <% if @selected_audit_headers.include?('KPI Concept')%>
        <td>
          <% if !activity_log.kpi_concept_id.blank? %>
            <%= activity_log.kpi_concept.name %>
          <% end %>
        </td>
        <% end %>
        <% if @selected_audit_headers.include?('Impact')%>
          <td>
            <%= activity_log.impact %>
          </td>
        <% end %>
        <% if @selected_audit_headers.include?('Provincial Strategic Objectives')%>
          <td>
              <% if !activity_log.provincial_strategic_outcome_id.blank? %>
                <%= activity_log.provincial_strategic_outcome.name %>
              <% end %>
          </td>
        <% end %>
        <% if @selected_audit_headers.include?('Area')%>
          <td>
            <% if !activity_log.area_id.blank? %>
              <%= activity_log.area.name %>
            <% end %>
          </td>
        <% end %>
        <% if @selected_audit_headers.include?('Ward')%>
            <td>
              <% if !activity_log.ward_id.blank? %>
                <%= activity_log.ward.name %>
              <% end %>
            </td>
        <% end %>
        <% if @selected_audit_headers.include?('Past Year Performance')%>
            <td>
              <%= activity_log.past_year_performance %>
            </td>
        <% end %>
        <% if @selected_audit_headers.include?('Reporting Category')%>
            <td>
              <% if !activity_log.reporting_category_id.blank? %>
                <%= activity_log.reporting_category.name %>
              <% end %>
            </td>
        <% end %>
        <% if @selected_audit_headers.include?('Top Layer KPI Ref')%>
            <td>
                <%= activity_log.top_layer_kpi_ref %>
            </td>
        <% end %>
        <% if @selected_audit_headers.include?('KPI Calculation Type')%>
            <td>
                <% if !activity_log.kpi_calculation_type_id.blank? %>
                    <%= activity_log.kpi_calculation_type.name %>
                <% end %>
            </td>
          <% end %>
          <% if @selected_audit_headers.include?('Update Status')%>
              <td>

              </td>
            <% end %>
            <% if @selected_audit_headers.include?('Assurance Status')%>
                <td>

                </td>
              <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="btn-group pull-right">
<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-circle-arrow-down"></span>&nbsp;Download Report<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<li><%= link_to "CSV format", departmental_sdbip_progresses_path(format: "csv") %></li>
<!--<li><%= link_to "Excel format", departmental_sdbip_progresses_path(format: "xls") %></li>-->
</ul>
</div>
</div>
<% end %>
</div>
