<div class="tab-pane fade" id="generate_graphs">
<div class="row">
  <br/>
  <h3>Total SDBIP by Performance Standard for Mkhondo Municipality</h3>
  <div class="panel panel-default col-md-12">
		<div class="panel-body">
			<div class="col-md-12">
	        <%= pie_chart @departmental_sdbips.group(:performance_standard).count, width: "80%", height: "300px", colors: ["limegreen", "darkgreen", "red","orange", "darkblue"] %>
	    </div>
		</div>
		<!-- /.panel-body -->
	</div>
</div>
<div class="row">
	<div class="panel panel-default col-lg-12">
		<div class="panel-heading">
			<h3>Total Performance Standards by Department</h3>
		</div>
		<div class="panel-body">
      <%= column_chart @departmental_sdbips.group(:performance_standard, :department_name).count, width: "80%", height: "400px", stacked: true, colors: ["red", "orange", "darkblue","darkgreen", "limegreen"] %>
		</div>
		<!-- /.panel-body -->
	</div>
</div>


<div class="row">
	<div class="panel panel-default col-lg-12">
		<div class="panel-heading">
			<h3>Summary of Results</h3>
		</div>
		<div class="panel-body">
			<table class="table table-hover">

      <thead>
        <tr>
          <th>Summary of Results</th>
          <th>All KPIs</th>
          <th>All KPIs Percentages</th>
          <th>Total KPIs Measured</th>
          <th>Measured KPIs Percentages</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>KPI Not Yet Measured</td>
          <td><%= @kpi_not_yet_measured.count %></td>
          <td>
            <% if @get_all_kpis.count > 0 %><%= (@kpi_not_yet_measured.count * 100)/@get_all_kpis.count %> %
            <% end %>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>KPI Not Met</td>
          <td><%= @kpi_not_met.count %></td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@kpi_not_met.count * 100)/@get_all_kpis.count %> %
            <% end %>
          </td>
          <td><%= (@kpi_not_met.count) %></td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@kpi_measured.count * 100)/@get_all_kpis.count %> %
            <% end %>
          </td>
        </tr>
        <tr>
          <td>KPI Almost Met</td>
          <td><%= @kpi_almost_met.count %></td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@kpi_almost_met.count * 100)/@get_all_kpis.count %> %
            <% end %>
          </td>
          <td><%= (@kpi_almost_met.count) %></td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@kpi_measured.count * 100)/@get_all_kpis.count %> %
            <% end %>
          </td>
        </tr>
        <tr>
          <td>KPI Met</td>
          <td><%= @kpi_met.count %></td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@kpi_met.count * 100)/@get_all_kpis.count %> %
            <% end %>
          </td>
          <td><%= (@kpi_met.count) %></td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@kpi_measured.count * 100)/@get_all_kpis.count %> %
            <% end %>
        </td>
        </tr>
        <tr>
          <td>KPI Well Met</td>
          <td><%= @kpi_well_met.count %></td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@kpi_well_met.count * 100)/@get_all_kpis.count %> %
            <% end %>
          </td>
          <td><%= (@kpi_well_met.count) %></td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@kpi_measured.count * 100)/@get_all_kpis.count %> %
            <% end %>
        </td>
        </tr>
        <tr>
          <td>KPI Extremely Well Met</td>
          <td><%= @kpi_extremely_well_met.count %></td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@kpi_extremely_well_met.count * 100)/@get_all_kpis.count %> %
            <% end %>
          </td>
          <td><%= (@kpi_extremely_well_met.count) %></td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@kpi_measured.count * 100)/@get_all_kpis.count %> %
            <% end %>
          </td>
        </tr>
        <td>Total KPIs</td>
          <td><%= @get_all_kpis.count %></td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@get_all_kpis.count * 100)/@get_all_kpis.count %> %
            <% end %>
          </td>
          <td><%= @kpi_measured.count %></td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@kpi_measured.count * 100)/@get_all_kpis.count %> %
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
		</div>
		<!-- /.panel-body -->
	</div>
</div>
<div class="row">
	<h3>Total Performance Standards for Mkhondo Municipality</h3>
	<div class="panel panel-default col-md-12">
		<div class="panel-body">
			<div class="col-md-12">
	        <%= pie_chart @departmental_sdbips.group(:performance_standard).count, width: "100%", height: "300px", colors: ["limegreen", "darkgreen", "red","orange", "darkblue"] %>
	    </div>
		</div>
		<!-- /.panel-body -->
	</div>

</div>
<div class="row">
	<div class="panel panel-default col-lg-12">
		<div class="panel-heading">
			<h3>Total Performance Standards per Department</h3>
		</div>
		<div class="panel-body">
		<table class="table table-hover">

      <thead>
        <tr>
          <th></th>
          <th>Mkhondo Municipality</th>
          <th>Municipal Manager's Office</th>
          <th>Financial Services</th>
          <th>Community Services</th>
          <th>Corporate Services</th>
          <th>Technical Services</th>
          <th>Planning and Development</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>KPI Not Met</td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@kpi_not_met.count * 100)/@get_all_kpis.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_municipal_manager.count > 0 %>
            <%= (@kpi_not_met_municipal_manager.count * 100)/@get_municipal_manager.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_financial_services.count > 0 %>
            <%= (@kpi_not_met_financial_services.count * 100)/@get_financial_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_community_services.count > 0 %>
            <%= (@kpi_not_met_community_services.count * 100)/@get_community_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_corporate_services.count > 0 %>
            <%= (@kpi_not_met_corporate_services.count * 100)/@get_corporate_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_technical_services.count > 0 %>
            <%= (@kpi_not_met_technical_services.count * 100)/@get_technical_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_planning_and_development.count > 0 %>
            <%= (@kpi_not_met_planning_and_development.count * 100)/@get_planning_and_development.count %> %
            <% end %>
          </td>
        </tr>
        <tr>
          <td>KPI Almost Met</td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@kpi_almost_met.count * 100)/@get_all_kpis.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_municipal_manager.count > 0 %>
            <%= (@kpi_almost_met_municipal_manager.count * 100)/@get_municipal_manager.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_financial_services.count > 0 %>
            <%= (@kpi_almost_met_financial_services.count * 100)/@get_financial_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_community_services.count > 0 %>
            <%= (@kpi_almost_met_community_services.count * 100)/@get_community_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_corporate_services.count > 0 %>
            <%= (@kpi_almost_met_corporate_services.count * 100)/@get_corporate_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_technical_services.count > 0 %>
            <%= (@kpi_almost_met_technical_services.count * 100)/@get_technical_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_planning_and_development.count > 0 %>
            <%= (@kpi_almost_met_planning_and_development.count * 100)/@get_planning_and_development.count %> %
            <% end %>
          </td>
        </tr>
        <tr>
          <td>KPI Met</td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@kpi_met.count * 100)/@get_all_kpis.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_municipal_manager.count > 0 %>
            <%= (@kpi_met_municipal_manager.count * 100)/@get_municipal_manager.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_financial_services.count > 0 %>
            <%= (@kpi_met_financial_services.count * 100)/@get_financial_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_community_services.count > 0 %>
            <%= (@kpi_met_community_services.count * 100)/@get_community_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_corporate_services.count > 0 %>
            <%= (@kpi_met_corporate_services.count * 100)/@get_corporate_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_technical_services.count > 0 %>
            <%= (@kpi_met_technical_services.count * 100)/@get_technical_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_planning_and_development.count > 0 %>
            <%= (@kpi_met_planning_and_development.count * 100)/@get_planning_and_development.count %> %
            <% end %>
          </td>
        </tr>
        <tr>
          <td>KPI Well Met</td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@kpi_well_met.count * 100)/@get_all_kpis.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_municipal_manager.count > 0 %>
            <%= (@kpi_well_met_municipal_manager.count * 100)/@get_municipal_manager.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_financial_services.count > 0 %>
            <%= (@kpi_well_met_financial_services.count * 100)/@get_financial_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_community_services.count > 0 %>
            <%= (@kpi_well_met_community_services.count * 100)/@get_community_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_corporate_services.count > 0 %>
            <%= (@kpi_well_met_corporate_services.count * 100)/@get_corporate_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_technical_services.count > 0 %>
            <%= (@kpi_well_met_technical_services.count * 100)/@get_technical_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_planning_and_development.count > 0 %>
            <%= (@kpi_well_met_planning_and_development.count * 100)/@get_planning_and_development.count %> %
            <% end %>
          </td>
        </tr>
        <tr>
          <td>KPI Extremely Well Met</td>
          <td>
            <% if @get_all_kpis.count > 0 %>
            <%= (@kpi_extremely_well_met.count * 100)/@get_all_kpis.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_municipal_manager.count > 0 %>
            <%= (@kpi_extremely_well_met_municipal_manager.count * 100)/@get_municipal_manager.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_financial_services.count > 0 %>
            <%= (@kpi_extremely_well_met_financial_services.count * 100)/@get_financial_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_community_services.count > 0 %>
            <%= (@kpi_extremely_well_met_community_services.count * 100)/@get_community_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_corporate_services.count > 0 %>
            <%= (@kpi_extremely_well_met_corporate_services.count * 100)/@get_corporate_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_technical_services.count > 0 %>
            <%= (@kpi_extremely_well_met_technical_services.count * 100)/@get_technical_services.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_planning_and_development.count > 0 %>
            <%= (@kpi_extremely_well_met_planning_and_development.count * 100)/@get_planning_and_development.count %> %
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
		</div>
		<!-- /.panel-body -->
	</div>
</div>
<div class="row">
	<h3>Total Performance Results per KPA</h3>

	<div class="panel panel-default col-md-12">
		<div class="panel-body">
			<%= column_chart @departmental_sdbips.group(:performance_standard, :kpa_name).count, width: "100%", height: "450px", stacked: true, colors: ["limegreen", "orange", "red","darkblue", "darkgreen"] %>
		</div>
		<!-- /.panel-body -->
	</div>
</div>
<div class="row">
	<div class="panel panel-default col-lg-12">
		<div class="panel-heading">
			<h3>Total Performance Standards per KPA</h3>
		</div>
		<div class="panel-body">
			<table class="table table-hover">

      <thead>
        <tr>
          <th></th>
          <th>Basic Service Delivery</th>
          <th>Good Governance and Public Participation</th>
          <th>Local Economic Development</th>
          <th>Municipal Finacial Viability and Management</th>
          <th>Municipal Transformation and Institutional Development</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>KPI Not Met</td>
          <td>
            <% if @get_basic_service_delivery.count > 0 %><%= (@kpi_not_met_basic_service_delivery.count * 100)/@get_basic_service_delivery.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_good_governance.count > 0 %><%= (@kpi_not_met_good_governance.count * 100)/@get_good_governance.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_economic_development.count > 0 %><%= (@kpi_not_met_economic_development.count * 100)/@get_economic_development.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_financial_viability.count > 0%>
            <%= (@kpi_not_met_financial_viability.count * 100)/@get_financial_viability.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_municipal_transformation.count > 0 %><%= (@kpi_not_met_municipal_transformation.count * 100)/@get_municipal_transformation.count %> %
            <% end %>
          </td>
        </tr>
        <tr>
          <td>KPI Almost Met</td>
          <td>
            <% if @get_basic_service_delivery.count > 0 %><%= (@kpi_almost_met_basic_service_delivery.count * 100)/@get_basic_service_delivery.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_good_governance.count > 0 %><%= (@kpi_almost_met_good_governance.count * 100)/@get_good_governance.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_economic_development.count > 0 %><%= (@kpi_almost_met_economic_development.count * 100)/@get_economic_development.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_financial_viability.count > 0 %><%= (@kpi_almost_met_financial_viability.count * 100)/@get_financial_viability.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_municipal_transformation.count > 0 %><%= (@kpi_almost_met_municipal_transformation.count * 100)/@get_municipal_transformation.count %> %
            <% end %>
          </td>
        </tr>
        <tr>
          <td>KPI Met</td>
          <td>
            <% if @get_basic_service_delivery.count > 0 %><%= (@kpi_met_basic_service_delivery.count * 100)/@get_basic_service_delivery.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_good_governance.count > 0 %><%= (@kpi_met_good_governance.count * 100)/@get_good_governance.count %> %
            <% end %>
          <td>
            <% if @get_economic_development.count > 0 %><%= (@kpi_met_economic_development.count * 100)/@get_economic_development.count %> %
            <% end %>
          <td>
            <% if @get_financial_viability.count > 0 %><%= (@kpi_met_financial_viability.count * 100)/@get_financial_viability.count %> %
            <% end %>
          <td>
            <% if @get_municipal_transformation.count > 0 %><%= (@kpi_met_municipal_transformation.count * 100)/@get_municipal_transformation.count %> %
            <% end %>
          </td>
        </tr>
        <tr>
          <td>KPI Well Met</td>
          <td>
            <% if @get_basic_service_delivery.count > 0 %><%= (@kpi_well_met_basic_service_delivery.count * 100)/@get_basic_service_delivery.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_good_governance.count > 0 %><%= (@kpi_well_met_good_governance.count * 100)/@get_good_governance.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_economic_development.count > 0 %><%= (@kpi_well_met_economic_development.count * 100)/@get_economic_development.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_financial_viability.count > 0 %><%= (@kpi_well_met_financial_viability.count * 100)/@get_financial_viability.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_municipal_transformation.count > 0 %><%= (@kpi_well_met_municipal_transformation.count * 100)/@get_municipal_transformation.count %> %
            <% end %>
          </td>
        </tr>
        <tr>
          <td>KPI Extremely Well Met</td>
          <td>
            <% if @get_basic_service_delivery.count > 0 %><%= (@kpi_extremely_well_met_basic_service_delivery.count * 100)/@get_basic_service_delivery.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_good_governance.count > 0 %><%= (@kpi_extremely_well_met_good_governance.count * 100)/@get_good_governance.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_economic_development.count > 0 %><%= (@kpi_extremely_well_met_economic_development.count * 100)/@get_economic_development.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_financial_viability.count > 0 %><%= (@kpi_extremely_well_met_financial_viability.count * 100)/@get_financial_viability.count %> %
            <% end %>
          </td>
          <td>
            <% if @get_municipal_transformation.count > 0 %><%= (@kpi_extremely_well_met_municipal_transformation.count * 100)/@get_municipal_transformation.count %> %
            <% end %>
          </td>

        </tr>
        </tr>
      </tbody>
      </table>
		</div>
		<!-- /.panel-body -->
	</div>
</div>
<%= link_to "Download PDF Report", departmental_sdbip_progresses_path(:format => :pdf), class: "btn btn-pdf" %>
</div>
