<div class="row">
  <div class="col-lg-12">
    <fieldset>
      <%= f.label :period, "Period" %><br>
      <%= f.label :period, "Performance Standard" %><br>
      <%= f.select :period, options_for_select(["Quarter 1", "Quarter 2", "Quarter 3", "Quarter 4", "Overall Performance"]),
                                          {}, {:class => "form-control"} %>

      <%= f.label :actual %><br>
      <%= f.text_field :actual, :class => "form-control",:autocomplete=>"off" %>

      <%= f.label :corrective_measures, "Corrective Measures" %><br>
      <%= f.text_field :corrective_measures, :class => "form-control",:autocomplete=>"off" %>

      <%= f.label :comments %><br>
      <%= f.text_field :comments, :class => "form-control",:autocomplete=>"off" %><br/>

      <%= f.label :poe, "Portfolio of Evidence" %><br>
      <%= f.file_field :poe, :class => "form-control",:autocomplete=>"off" %>
      <%= f.hidden_field :_destroy %>
      <%= link_to "Remove SDBIP Period", '#', class: "btn remove_fields" %>
      <br/>
    </fieldset>
  </div>
</div>
