<div class="table-responsive">
  <table class="table table-striped table-bordered" id="sdbips-results-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>KPI</th>
        <th>Department</th>
        <th>Subdepartment</th>
        <th>KPI Ref Number</th>
        <th>KPI Type</th>
        <th>Predetermined Objective</th>
        <th>KPI Owner</th>
        <th>Unit of Measurement</th>
        <th>M Score Classification</th>
        <th>IDP Ref</th>
        <th>National Outcome</th>
        <th>Strategic Objective</th>
        <th>Source of Evidence</th>
        <th>Baseline</th>
        <th>Annual Target</th>
        <th>Revised Target</th>
        <th>First Quarter Target</th>
        <th>Second Quarter Target</th>
        <th>Third Quarter Target</th>
        <th>Fourth Quarter Target</th>
        <th>Budget</th>
        <th>Performance Standard</th>
        <th>Risk Rating</th>
        <th>KPA</th>
        <th>NDP Objective</th>
        <th>Capital Project</th>
        <th>KPI Concept</th>
        <th>Impact</th>
        <th>Provincial Strategic Outcome</th>
        <th>Area</th>
        <th>Ward</th>
        <th>Past Year Performance</th>
        <th>Reporting Category</th>
        <th>Top Layer KPI Ref</th>
        <th>KPI Calculation Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Create Date</th>
        <th>Update Date</th>

      </tr>
    </thead>
    <tbody>
    <% @departmental_sdbips.each do |departmental_sdbip| %>
      <tr>
        <td><%= departmental_sdbip.id %></td>
        <td><%= departmental_sdbip.kpi %></td>
        <td><%= departmental_sdbip.department.name %></td>
        <td><%= departmental_sdbip.subdepartment.subdepartment_name %></td>
        <td><%= departmental_sdbip.kpi_ref_number %></td>
        <td><% if !departmental_sdbip.kpi_type_id.blank? %><%= departmental_sdbip.kpi_type.name %><% end %></td>
        <td><% if !departmental_sdbip.predetermined_objective_id.blank? %><%= departmental_sdbip.predetermined_objective.name %><% end %></td>
        <td><% if !departmental_sdbip.kpi_owner_id.blank? %><%= departmental_sdbip.kpi_owner.name %><% end %></td>
        <td><%= departmental_sdbip.unit_of_measurement %></td>
        <td><%= departmental_sdbip.mscore_classification.name %></td>
        <td><%= departmental_sdbip.idp_ref %></td>
        <td><% if !departmental_sdbip.national_outcome_id.blank? %><%= departmental_sdbip.national_outcome.name %><% end %></td>
        <td><%= departmental_sdbip.strategic_objective.name %></td>
        <td><%= departmental_sdbip.source_of_evidence %></td>
        <td><%= departmental_sdbip.baseline %></td>
        <th><%= departmental_sdbip.annual_target %></th>
        <th><%= departmental_sdbip.revised_target %></th>
        <th><%= departmental_sdbip.first_quarter_target %></th>
        <th><%= departmental_sdbip.second_quarter_target %></th>
        <th><%= departmental_sdbip.third_quarter_target %></th>
        <th><%= departmental_sdbip.fourth_quarter_target %></th>
        <td><%= departmental_sdbip.budget %></td>
        <td><%= departmental_sdbip.performance_standard %></td>
        <td><% if !departmental_sdbip.risk_rating_id.blank?%><%= departmental_sdbip.risk_rating.name %><% end %></td>
        <td><% if !departmental_sdbip.kpa_id.blank? %><%= departmental_sdbip.kpa.name %><% end %></td>
        <td><% if !departmental_sdbip.ndp_objective_id.blank? %><%= departmental_sdbip.ndp_objective.name %><% end %></td>
        <td><% if !departmental_sdbip.capital_project_id.blank? %><%= departmental_sdbip.capital_project.mun_cp_ref %><% end %></td>
        <td><% if !departmental_sdbip.kpi_concept_id.blank? %><%= departmental_sdbip.kpi_concept.name %><% end %></td>
        <td><%= departmental_sdbip.impact %></td>
        <td><% if !departmental_sdbip.provincial_strategic_outcome_id.blank? %><%= departmental_sdbip.provincial_strategic_outcome.name %><% end %></td>
        <td><% if !departmental_sdbip.area_id.blank? %><%= departmental_sdbip.area.name %><% end %></td>
        <td><% if !departmental_sdbip.ward_id.blank? %><%= departmental_sdbip.ward.name %><% end %></td>
        <td><%= departmental_sdbip.past_year_performance %></td>
        <td><% if !departmental_sdbip.reporting_category_id.blank? %><%= departmental_sdbip.reporting_category.name %><% end %></td>
        <td><%= departmental_sdbip.top_layer_kpi_ref %></td>
        <td><% if !departmental_sdbip.kpi_calculation_type_id.blank? %><%= departmental_sdbip.kpi_calculation_type.name %><% end %></td>
        <td><%= departmental_sdbip.start_date %></td>
        <td><%= departmental_sdbip.end_date %></td>
        <td><%= departmental_sdbip.created_at.strftime(' %Y-%B-%d') %></td>
        <td><%= departmental_sdbip.updated_at.strftime('%d-%B-%Y') %></td>

      </tr>
      <% end %>
    </tbody>
  </table>
</div>
