
<%= f.fields_for :assurances do |assurance_for_form| %>
<table class="table table-responsive table-striped">
  <tr>
    <th>Sign-Off:</th>
    <td><%= f.label :signed_off, class: "checkbox inline" do %>
        <%= f.check_box :signed_off %>
      <span></span>
    <% end %></td>
  </tr>
  <tr>
    <th>Response:</th>
    <td><%= f.text_area :response, class: "form-control" %></td>
  </tr>
  <tr>
    <th>Update User:</th>
    <td></td>
  </tr>
  <tr>
    <th>Update deadline:</th>
    <td>
      <div class="form-group">
            <div class="input-group date" data-provide="datepicker"
                               data-date-format="dd-mm-yyyy" data-date-start-view="years" data-date-min-view-mode="days">
                  <%= text_field_tag :update_time_period,nil, {:id=>'update-time-period',class: "form-control"} %>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
      </div>
    </td>
  </tr>
</table>

<%= f.hidden_field :kpi_result_id,:id=>"kpi-result-id" %>
<%= f.hidden_field :user_id,:id=>"assurance-user" %>
<%= f.hidden_field :_destroy %>

<% end %>
<script>
var closure_date,current_month;
current_month = new Date();
$("#update-time-period" ).focusout(function() {
    closure_date = $("#update-time-period" ).val();
  })
  .blur(function() {
    closure_date = $("#update-time-period" ).val();
  });
  $('#submit_button').click(function() {
    alert("button clicked");
  $.ajax({
       url : "/sdbip_time_periods/update_deadline",
       type : "get",
       data : { data_value: closure_date,selected_month: current_month }
   });
   });
</script>
