<% @departmental_sdbip.assurances.each do |assurance| %>
<table class="table table-responsive table-hover table-striped">
    <tr>
        <th>
            Reviewed By:
        </th>
        <td>
            <%= assurance.user.firstname  if !assurance.user_id.blank? %>&nbsp;<%= assurance.user.surname if !assurance.user_id.blank? %>
            <p>Updated on
                <%= assurance.created_at.strftime("%d %B %Y %H:%M:%S") if !assurance.created_at.blank? %></p>
        </td>
    </tr>
    <tr>
        <th>
            Signed-Off:
        </th>
        <td>
            <% if assurance.signed_off? %>
            Yes
        <% else %>
            No
            <% end %>
        </td>
    </tr>
    <tr>
        <th>
            Response:
        </th>
        <td>
            <%= assurance.response %>
        </td>
    </tr>
    <tr>
        <th>
            Assigned to:
        </th>
        <td>
          <% if assurance.kpi_result.present? %>
          <%= assurance.kpi_result.user.firstname %>&nbsp;<%= assurance.kpi_result.user.surname %>
        <% end %>
      </td>
    </tr>
    <tr>
        <th>
            Update Deadline
        </th>
    </tr>
</table>
<% end %>
