<table class="table table-responsive table-striped">
    <% departmental_sdbip.kpi_results.each do |kpi_result| %>
    <tr>
        <th>Target</th>
        <td><%= kpi_result.target %></td>
    </tr>
    <tr>
        <th>Actual</th>
        <td><%= kpi_result.actual %></td>
    </tr>
    <tr>
        <th>Result</th>
        <td>
        <% if kpi_result.kpi_performance_standard == "KPI Not Met" %>
                        <span class="glyphicon glyphicon-stop red">
                <% end %>
                <% if kpi_result.kpi_performance_standard == "KPI Almost Met" %>
                            <span class="glyphicon glyphicon-stop orange">
                    <% end %>
                <% if kpi_result.kpi_performance_standard == "KPI Met" %>
                                <span class="glyphicon glyphicon-stop limegreen">
                    <% end %>
             <% if kpi_result.kpi_performance_standard == "KPI Well Met" %>
                            <span class="glyphicon glyphicon-stop darkgreen">
                <% end %>
                <% if kpi_result.kpi_performance_standard == "KPI Extremely Well Met" %>
                        <span class="glyphicon glyphicon-stop darkblue">
                    <% end %>
                </span>
        <%= kpi_result.kpi_performance_standard %>
        </td>
    </tr>
    <tr>
        <th>Performance Comment(s)</th>
        <td><%= kpi_result.performance_comments %></td>
    </tr>
    <tr>
        <th>Corrective Measure(s)</th>
        <td><%= kpi_result.corrective_measures %></td>
    </tr>
    <tr>
        <th>Update User:</th>
        <td>

            <%=  kpi_result.user_firstname %>&nbsp;<%= kpi_result.user_surname  %>&nbsp;on&nbsp;
            <%= kpi_result.updated_at.strftime("%d %B %Y") %>
        </td>
    </tr>
    <% end %>
</table>
