<%= form_tag departmental_sdbips_path, method: :get do |f| %>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3">
            <label class="col control-label">Who:</label>&nbsp;<%= select_tag :subdepartment_id, grouped_options_for_select(@departments.map{ |group| [group.name, group.subdepartments.map{ |c| [c.name, c.id] } ] }),{class:'form-control'} %>
        </div>
        <div class="col-lg-3">
            <label class="col control-label">What:</label>&nbsp;<%= select_tag :kpi_type_id,options_for_select([["All KPIs","0"]]+@kpitypes.all.collect {|x| [ x.name, x.id ] },id:'kpi_select'),prompt:'Select KPI Type',class: "form-control" %>
        </div>
        <div class="col-lg-3">
            <label class="col control-label">When:</label>&nbsp;
            <div class="form-group">
                <div class="input-group date" data-provide="datepicker" data-date-format="M-yyyy" data-date-start-view="months" data-date-min-view-mode="months">
                    <%= text_field_tag :start_date, nil, class: "form-control" %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <%= hidden_field_tag :end_date, nil, class: "form-control" %>
        <div class="col-lg-1">
            <label class="col control-label">&nbsp;</label>&nbsp;
            <%= submit_tag "Apply", class: "btn btn-mini", :department_id => nil %>
        </div>
    </div>
</div>
<% end %>
