<div class="row">
    <div class="col-lg-6 col-md-offset-3">

<%= form_for @departmental_sdbip do |f| %>
<% if @departmental_sdbip.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@departmental_sdbip.errors.count, "error") %> prohibited this Departmental SDBIP from being saved:</h2>

    <ul>
    <% @departmental_sdbip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
      <%= f.label :kpi, "KPI" %><br>
  		<%= f.text_area :kpi, :class => "form-control has-error col-md-5" %>

		<%= f.label :department_id %><br>
		<%= f.select :department_id, Department.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Department"}, :id=>"selected_department", class: "form-control" %>

    <%= f.hidden_field :department_name, id: "current_department" %>

		<%= f.label :subdepartment_id, "Subdepartment" %><br>
		<%= f.select :subdepartment_id, Subdepartment.all.collect {|x| [x.subdepartment_name, x.id]}, {:include_blank => "Select Subdepartment"}, :id=>"selected_subdepartment", class: "form-control" %>

    <%= f.hidden_field :subdepartment_name, id: "current_subdepartment" %>

		<%= f.label :kpi_ref_number, "KPI Ref Number" %><br>
		<%= f.text_field :kpi_ref_number, :class => "form-control has-error col-md-5" %>

		<%= f.label :predetermined_objective_id, "Predetermined Objectives" %><br>
		<%= f.select :predetermined_objective_id, PredeterminedObjective.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Predetermined Objective"}, class: "form-control" %>

		<%= f.label :kpi_owner_id, "KPI Owner" %><br>
		<%= f.select :kpi_owner_id, KpiOwner.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select KPI Owner"}, class: "form-control" %>

		<%= f.label :unit_of_measurement, "Unit of Measurement" %><br>
		<%= f.text_area :unit_of_measurement, :class => "form-control has-error col-md-5" %>

		<%= f.label :mscore_classification_id, "M Score Classification" %><br>
		<%= f.select :mscore_classification_id, MscoreClassification.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select M Score Classification"}, class: "form-control" %>

		<%= f.label :idp_ref, "IDP Ref" %><br>
		<%= f.text_field :idp_ref, :class => "form-control has-error col-md-5" %>

		<%= f.label :national_outcome_id, "National Outcome" %><br>
		<%= f.select :national_outcome_id, NationalOutcome.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select National Outcome"}, class: "form-control" %>

		<%= f.label :strategic_objective_id, "Strategic Objectives" %><br>
		<%= f.select :strategic_objective_id, StrategicObjective.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Strategic Objective"}, class: "form-control" %>

		<%= f.label :source_of_evidence, "Source of Evidence" %><br>
		<%= f.text_field :source_of_evidence, :class => "form-control has-error col-md-5" %>

		<%= f.label :baseline %><br>
		<%= f.text_field :baseline, :class => "form-control has-error col-md-5" %>

		<%= f.label :budget %><br>
		<%= f.text_field :budget, :class => "form-control has-error col-md-5" %>

		<%= f.label :annual_target, "Annual Target" %><br>
		<%= f.text_field :annual_target, :class => "form-control has-error col-md-5" %>

		<%= f.label :revised_target, "Revised Target" %><br>
		<%= f.text_field :revised_target, :class => "form-control has-error col-md-5" %>

    <%= f.label :first_quarter_target, "First Quarter Target" %><br>
		<%= f.text_field :first_quarter_target, :class => "form-control has-error col-md-5" %>

    <%= f.label :first_quarter_actual, "First Quarter Actual" %><br>
    <%= f.text_field :first_quarter_actual, :class => "form-control has-error col-md-5" %>

    <%= f.label :first_quarter_poe, "First Quarter POE" %><br>
    <%= f.file_field :first_quarter_poe, :class => "form-control has-error col-md-5" %>


    <%= f.label :second_quarter_target, "Second Quarter Target" %><br>
    <%= f.text_field :second_quarter_target, :class => "form-control has-error col-md-5" %>

    <%= f.label :second_quarter_actual, "Second Quarter Actual" %><br>
    <%= f.text_field :second_quarter_actual, :class => "form-control has-error col-md-5" %>

    <%= f.label :second_quarter_poe, "Second Quarter POE" %><br>
    <%= f.file_field :second_quarter_poe, :class => "form-control has-error col-md-5" %>


    <%= f.label :third_quarter_target, "Third Quarter Target" %><br>
    <%= f.text_field :third_quarter_target, :class => "form-control has-error col-md-5" %>

    <%= f.label :third_quarter_actual, "Third Quarter Actual" %><br>
    <%= f.text_field :third_quarter_actual, :class => "form-control has-error col-md-5" %>

    <%= f.label :third_quarter_poe, "Third Quarter POE" %><br>
    <%= f.file_field :third_quarter_poe, :class => "form-control has-error col-md-5" %>


    <%= f.label :fourth_quarter_target, "Fourth Quarter Target" %><br>
    <%= f.text_field :fourth_quarter_target, :class => "form-control has-error col-md-5" %>

    <%= f.label :fourth_quarter_actual, "Fourth Quarter Actual" %><br>
    <%= f.text_field :fourth_quarter_actual, :class => "form-control has-error col-md-5" %>

    <%= f.label :fourth_quarter_poe, "Fourth Quarter POE" %><br>
    <%= f.file_field :fourth_quarter_poe, :class => "form-control has-error col-md-5" %>

		<%= f.label :kpa_id, " KPA" %><br>
		<%= f.select :kpa_id, Kpa.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select National KPA"}, class: "form-control" %>

		<%= f.label :ndp_objective_id, "NDP Objectives" %><br>
		<%= f.select :ndp_objective_id, NdpObjective.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select NDP Objective"}, class: "form-control" %>

		<%= f.label :capital_project_id, "Capital Project" %><br>
		<%= f.select :capital_project_id, CapitalProject.all.collect {|x| [x.mun_cp_ref, x.id]}, {:include_blank => "Select Capital Project"}, class: "form-control" %>

		<%= f.label :kpi_concept_id, "KPI Concept" %><br>
		<%= f.select :kpi_concept_id, KpiConcept.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select KPI Concept"}, class: "form-control" %>

		<%= f.label :kpi_type_id, "KPI Type" %><br>
		<%= f.select :kpi_type_id, KpiType.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select KPI Type"}, class: "form-control" %>

		<%= f.label :impact %><br>
		<%= f.text_field :impact, :class => "form-control has-error col-md-5" %>

		<%= f.label :provincial_strategic_outcome_id, "Provincial Strategic Outcome" %><br>
		<%= f.select :provincial_strategic_outcome_id, RiskRating.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Provincial Strategic Outcome"}, class: "form-control" %>

		<%= f.label :ward_id, "Ward" %><br>
		<%= f.select :ward_id, Ward.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Ward"}, class: "form-control" %>

		<%= f.label :area_id, "Area" %><br>
		<%= f.select :area_id, Area.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Area"}, class: "form-control" %>
		<%= f.label :performance_standard, "Performance Standard" %><br>
    <%= f.select :performance_standard, options_for_select(["KPI Not Met", "KPI Almost Met", "KPI Met", "KPI Well Met", "KPI Extremely Well Met"]),
                                          {}, {:class => "form-control"} %>

		<%= f.label :past_year_performance, "Past Year Performance" %><br>
		<%= f.text_area :past_year_performance, :class => "form-control has-error col-md-5" %>

		<%= f.label :reporting_category_id, "Reporting Category" %><br>
		<%= f.select :reporting_category_id, ReportingCategory.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Reporting Category"}, class: "form-control" %>

    <%= f.label :risk_rating_id, "Risk Rating" %><br>
		<%= f.select :risk_rating_id, RiskRating.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select Rating"}, class: "form-control" %>

		<%= f.label :top_layer_kpi_ref, "Top Layer KPI Ref" %><br>
		<%= f.text_field :top_layer_kpi_ref, :class => "form-control has-error col-md-5" %>

		<%= f.label :kpi_calculation_type_id, "KPI Calculation Type" %><br>
		<%= f.select :kpi_calculation_type_id, KpiCalculationType.all.collect {|x| [x.name, x.id]}, {:include_blank => "Select KPI Calculation Type"}, class: "form-control" %>
		<%= f.label :start_date, "Start Date:" %><br>
		<%= f.date_field :start_date, :class => "form-control has-error col-md-5 input-sm" %>

		<%= f.label :end_date, "End Date:" %><br>
		<%= f.date_field :end_date, :class => "form-control has-error col-md-5 input-sm" %>



		<%= f.submit "Save",class: 'btn btn-mini pull right'%>

    <% end %>

</div>
</div>
<script>
  $(function(){
    $(document).on('change','#selected_department', function(){
       var select_value = $(this).val();
       $('#current_department').val(select_value);

    });
    $(document).on('change','#selected_subdepartment', function(){
       var select_value = $(this).val();
       $('#current_subdepartment').val(select_value);

    });
  });
</script>
