<div class="row">
    <div class="table-responsive">
        <table class="table table-condensed table-bordered table-striped">
            <tr>
                <th rowspan="2"></th>
                <th colspan="3">Period Performance</th>
                <th rowspan="2" colspan="1">Performance Comments</th>
                <th rowspan="2" colspan="1">Corrective Measures</th>
                <th rowspan="2" colspan="1">Proof of Evidence</th>
                <th rowspan="2" colspan="1">Update Status</th>
                <th rowspan="2" colspan="1">Assurance Status</th>
            </tr>
            <tr>
                <th>Target</th>
                <th>Actual</th>
                <th>Results</th>
            </tr>
            <tr>
                <th>July&nbsp;
                    <% @time_periods.select(:period).where("extract(month  from period) = ?", 7 ).each do |time_period| %>
                    <%= time_period.period.strftime("%Y") %>
                    <% end %>
                </th>
                <% if @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 7 ).any? %>
                <% @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 7 ).each do |kpi_result| %>
                <td><%= kpi_result.target %></td>
                <td><%= kpi_result.actual %></td>
                <td><%= kpi_result.kpi_performance_standard %></td>
                <td><%= kpi_result.performance_comments %></td>
                <td><%= kpi_result.corrective_measures %></td>
                <td>
                    <%= kpi_result.departmental_sdbip.source_of_evidence %>
                    <br/>
                    <% kpi_result.attachments.each do |attachment| %>
                    <%= link_to attachment.poe_file_name,attachment.poe.url, target: '_blank' %>
                    <% end %>
                </td>
                <td>
                    <%= kpi_result.user.firstname %>&nbsp;
                    <%= kpi_result.user.surname %>&nbsp;on
                    <%= kpi_result.updated_at.strftime("%d-%b-%Y") %>
                </td>
                <td>
                    <%= render "assurance_results" %>
                </td>

                <% end %>
            <% else %>
                <td><%= @departmental_sdbip.annual_target %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @departmental_sdbip.source_of_evidence %></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-minus-sign orange"></span>
                </td>
                <% end %>
            </tr>
            <tr>
                <th>August &nbsp;
                    <% @time_periods.select(:period).where("extract(month  from period) = ?", 8 ).each do |time_period| %>
                    <%= time_period.period.strftime("%Y") %>
                    <% end %>
                </th>
                <% if @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 8 ).any? %>
                <% @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 8 ).each do |kpi_result| %>
                <td><%= kpi_result.target %></td>
                <td><%= kpi_result.actual %></td>
                <td><%= kpi_result.kpi_performance_standard %></td>
                <td><%= kpi_result.performance_comments %></td>
                <td><%= kpi_result.corrective_measures %></td>
                <td>
                    <%= kpi_result.departmental_sdbip.source_of_evidence %>
                    <br/>
                    <% kpi_result.attachments.each do |attachment| %>
                    <%= link_to attachment.poe_file_name,attachment.poe.url, target: '_blank' %>
                    <% end %>
                </td>
                <td>
                    <%= kpi_result.user.firstname %>&nbsp;
                    <%= kpi_result.user.surname %>&nbsp;on
                    <%= kpi_result.updated_at.strftime("%d-%b-%Y") %>
                </td>
                <td>
                    <%= render "assurance_results" %>
                </td>
                <% end %>
            <% else %>
                <td><%= @departmental_sdbip.annual_target %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @departmental_sdbip.source_of_evidence %></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-minus-sign orange"></span>
                </td>
                <% end %>
            </tr>
            <tr>
                <th>Sepetember &nbsp;
                    <% @time_periods.select(:period).where("extract(month  from period) = ?", 9 ).each do |time_period| %>
                    <%= time_period.period.strftime("%Y") %>
                    <% end %>
                </th>
                <% if @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 9 ).any? %>
                <% @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 9 ).each do |kpi_result| %>
                <td><%= kpi_result.target %></td>
                <td><%= kpi_result.actual %></td>
                <td><%= kpi_result.kpi_performance_standard %></td>
                <td><%= kpi_result.performance_comments %></td>
                <td><%= kpi_result.corrective_measures %></td>
                <td>
                    <%= kpi_result.departmental_sdbip.source_of_evidence %>
                    <br/>
                    <% kpi_result.attachments.each do |attachment| %>
                    <%= link_to attachment.poe_file_name,attachment.poe.url, target: '_blank' %>
                    <% end %>
                </td>
                <td>
                    <%= kpi_result.user.firstname %>&nbsp;
                    <%= kpi_result.user.surname %>&nbsp;on
                    <%= kpi_result.updated_at.strftime("%d-%b-%Y") %>
                </td>
                <td>
                    <%= render "assurance_results" %>
                </td>
                <% end %>
            <% else %>
                <td><%= @departmental_sdbip.annual_target %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @departmental_sdbip.source_of_evidence %></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-minus-sign orange"></span>
                </td>
                <% end %>
            </tr>
            <tr>
                <th>October&nbsp;
                    <% @time_periods.select(:period).where("extract(month  from period) = ?", 10 ).each do |time_period| %>
                    <%= time_period.period.strftime("%Y") %>
                    <% end %>
                </th>
                <% if @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 10 ).any? %>
                <% @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 10 ).each do |kpi_result| %>
                <td><%= kpi_result.target %></td>
                <td><%= kpi_result.actual %></td>
                <td><%= kpi_result.kpi_performance_standard %></td>
                <td><%= kpi_result.performance_comments %></td>
                <td><%= kpi_result.corrective_measures %></td>
                <td>
                    <%= kpi_result.departmental_sdbip.source_of_evidence %>
                    <br/>
                    <% kpi_result.attachments.each do |attachment| %>
                    <%= link_to attachment.poe_file_name,attachment.poe.url, target: '_blank' %>
                    <% end %>
                </td>
                <td>
                    <%= kpi_result.user.firstname %>&nbsp;
                    <%= kpi_result.user.surname %>&nbsp;on
                    <%= kpi_result.updated_at.strftime("%d-%b-%Y") %>
                </td>
                <td>
                    <%= render "assurance_results" %>
                </td>
                <% end %>
            <% else %>
                <td><%= @departmental_sdbip.annual_target %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @departmental_sdbip.source_of_evidence %></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-minus-sign orange"></span>
                </td>
                <% end %>
            </tr>
            <tr>
                <th>November&nbsp;
                    <% @time_periods.select(:period).where("extract(month  from period) = ?", 11 ).each do |time_period| %>
                    <%= time_period.period.strftime("%Y") %>
                    <% end %>
                </th>
                <% if @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 11 ).any? %>
                <% @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 11 ).each do |kpi_result| %>
                <td><%= kpi_result.target %></td>
                <td><%= kpi_result.actual %></td>
                <td><%= kpi_result.kpi_performance_standard %></td>
                <td><%= kpi_result.performance_comments %></td>
                <td><%= kpi_result.corrective_measures %></td>
                <td>
                    <%= kpi_result.departmental_sdbip.source_of_evidence %>
                    <br/>
                    <% kpi_result.attachments.each do |attachment| %>
                    <%= link_to attachment.poe_file_name,attachment.poe.url, target: '_blank' %>
                    <% end %>
                </td>
                <td>
                    <%= kpi_result.user.firstname %>&nbsp;
                    <%= kpi_result.user.surname %>&nbsp;on
                    <%= kpi_result.updated_at.strftime("%d-%b-%Y") %>
                </td>
                <td>
                    <%= render "assurance_results" %>
                </td>
                <% end %>
            <% else %>
                <td><%= @departmental_sdbip.annual_target %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @departmental_sdbip.source_of_evidence %></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-minus-sign orange"></span>
                </td>
                <% end %>
            </tr>
            <tr>
                <th>December&nbsp;
                    <% @time_periods.select(:period).where("extract(month  from period) = ?", 12 ).each do |time_period| %>
                    <%= time_period.period.strftime("%Y") %>
                    <% end %>
                </th>
                <% if @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 12 ).any? %>
                <% @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 12 ).each do |kpi_result| %>
                <td><%= kpi_result.target %></td>
                <td><%= kpi_result.actual %></td>
                <td><%= kpi_result.kpi_performance_standard %></td>
                <td><%= kpi_result.performance_comments %></td>
                <td><%= kpi_result.corrective_measures %></td>
                <td>
                    <%= kpi_result.departmental_sdbip.source_of_evidence %>
                    <br/>
                    <% kpi_result.attachments.each do |attachment| %>
                    <%= link_to attachment.poe_file_name,attachment.poe.url, target: '_blank' %>
                    <% end %>
                </td>
                <td>
                    <%= kpi_result.user.firstname %>&nbsp;
                    <%= kpi_result.user.surname %>&nbsp;on
                    <%= kpi_result.updated_at.strftime("%d-%b-%Y") %>
                </td>
                <td>
                    <%= render "assurance_results" %>
                </td>
                <% end %>
            <% else %>
                <td><%= @departmental_sdbip.annual_target %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @departmental_sdbip.source_of_evidence %></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-minus-sign orange"></span>
                </td>
                <% end %>
            </tr>
            <tr>
                <th>January&nbsp;
                    <% @time_periods.select(:period).where("extract(month  from period) = ?", 1 ).each do |time_period| %>
                    <%= time_period.period.strftime("%Y") %>
                    <% end %>
                </th>
                <% if @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 1 ).any? %>
                <% @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 1 ).each do |kpi_result| %>
                <td><%= kpi_result.target %></td>
                <td><%= kpi_result.actual %></td>
                <td><%= kpi_result.kpi_performance_standard %></td>
                <td><%= kpi_result.performance_comments %></td>
                <td><%= kpi_result.corrective_measures %></td>
                <td>
                    <%= kpi_result.departmental_sdbip.source_of_evidence %>
                    <br/>
                    <% kpi_result.attachments.each do |attachment| %>
                    <%= link_to attachment.poe_file_name,attachment.poe.url, target: '_blank' %>
                    <% end %>
                </td>
                <td>
                    <%= kpi_result.user.firstname %>&nbsp;
                    <%= kpi_result.user.surname %>&nbsp;on
                    <%= kpi_result.updated_at.strftime("%d-%b-%Y") %>
                </td>
                <td><%= render "assurance_results" %></td>
                <% end %>
            <% else %>
                <td><%= @departmental_sdbip.annual_target %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @departmental_sdbip.source_of_evidence %></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-minus-sign orange"></span>
                </td>
                <% end %>
            </tr>
            <tr>
                <th>February&nbsp;
                    <% @time_periods.select(:period).where("extract(month  from period) = ?", 2 ).each do |time_period| %>
                    <%= time_period.period.strftime("%Y") %>
                    <% end %>
                </th>
                <% if @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 2 ).any? %>
                <% @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 2 ).each do |kpi_result| %>
                <td><%= kpi_result.target %></td>
                <td><%= kpi_result.actual %></td>
                <td><%= kpi_result.kpi_performance_standard %></td>
                <td><%= kpi_result.performance_comments %></td>
                <td><%= kpi_result.corrective_measures %></td>
                <td>
                    <%= kpi_result.departmental_sdbip.source_of_evidence %>
                    <br/>
                    <% kpi_result.attachments.each do |attachment| %>
                    <%= link_to attachment.poe_file_name,attachment.poe.url, target: '_blank' %>
                    <% end %>
                </td>
                <td>
                    <%= kpi_result.user.firstname %>&nbsp;
                    <%= kpi_result.user.surname %>&nbsp;on
                    <%= kpi_result.updated_at.strftime("%d-%b-%Y") %>
                </td>
                <td><%= render "assurance_results" %></td>
                <% end %>
            <% else %>
                <td><%= @departmental_sdbip.annual_target %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @departmental_sdbip.source_of_evidence %></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-minus-sign orange"></span>
                </td>
                <% end %>
            </tr>
            <tr>
                <th>March&nbsp;
                    <% @time_periods.select(:period).where("extract(month  from period) = ?", 3 ).each do |time_period| %>
                    <%= time_period.period.strftime("%Y") %>
                    <% end %>
                </th>
                <% if @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 3 ).any? %>
                <% @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 3 ).each do |kpi_result| %>
                <td><%= kpi_result.target %></td>
                <td><%= kpi_result.actual %></td>
                <td><%= kpi_result.kpi_performance_standard %></td>
                <td><%= kpi_result.performance_comments %></td>
                <td><%= kpi_result.corrective_measures %></td>
                <td>
                    <%= kpi_result.departmental_sdbip.source_of_evidence %>
                    <br/>
                    <% kpi_result.attachments.each do |attachment| %>
                    <%= link_to attachment.poe_file_name,attachment.poe.url, target: '_blank' %>
                    <% end %>
                </td>
                <td>
                    <%= kpi_result.user.firstname %>&nbsp;
                    <%= kpi_result.user.surname %>&nbsp;on
                    <%= kpi_result.updated_at.strftime("%d-%b-%Y") %>
                </td>
                <td><%= render "assurance_results" %></td>
                <% end %>
            <% else %>
                <td><%= @departmental_sdbip.annual_target %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @departmental_sdbip.source_of_evidence %></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-minus-sign orange"></span>
                </td>
                <% end %>
            </tr>
            <tr>
                <th>April&nbsp;
                    <% @time_periods.select(:period).where("extract(month  from period) = ?", 4 ).each do |time_period| %>
                    <%= time_period.period.strftime("%Y") %>
                    <% end %>
                </th>
                <% if @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 4 ).any? %>
                <% @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 4 ).each do |kpi_result| %>
                <td><%= kpi_result.target %></td>
                <td><%= kpi_result.actual %></td>
                <td><%= kpi_result.kpi_performance_standard %></td>
                <td><%= kpi_result.performance_comments %></td>
                <td><%= kpi_result.corrective_measures %></td>
                <td>
                    <%= kpi_result.departmental_sdbip.source_of_evidence %>
                    <br/>
                    <% kpi_result.attachments.each do |attachment| %>
                    <%= link_to attachment.poe_file_name,attachment.poe.url, target: '_blank' %>
                    <% end %>
                </td>
                <td>
                    <%= kpi_result.user.firstname %>&nbsp;
                    <%= kpi_result.user.surname %>&nbsp;on
                    <%= kpi_result.updated_at.strftime("%d-%b-%Y") %>
                </td>
                <td><%= render "assurance_results" %></td>
                <% end %>
            <% else %>
                <td><%= @departmental_sdbip.annual_target %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @departmental_sdbip.source_of_evidence %></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-minus-sign orange"></span>
                </td>
                <% end %>
            </tr>
            <tr>
                <th>May&nbsp;
                    <% @time_periods.select(:period).where("extract(month  from period) = ?", 5 ).each do |time_period| %>
                    <%= time_period.period.strftime("%Y") %>
                    <% end %>
                </th>
                <% if @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 5 ).any? %>
                <% @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 5 ).each do |kpi_result| %>
                <td><%= kpi_result.target %></td>
                <td><%= kpi_result.actual %></td>
                <td><%= kpi_result.kpi_performance_standard %></td>
                <td><%= kpi_result.performance_comments %></td>
                <td><%= kpi_result.corrective_measures %></td>
                <td>
                    <%= kpi_result.departmental_sdbip.source_of_evidence %>
                    <br/>
                    <% kpi_result.attachments.each do |attachment| %>
                    <%= link_to attachment.poe_file_name,attachment.poe.url, target: '_blank' %>
                    <% end %>
                </td>
                <td>
                    <%= kpi_result.user.firstname %>&nbsp;
                    <%= kpi_result.user.surname %>&nbsp;on
                    <%= kpi_result.updated_at.strftime("%d-%b-%Y") %>
                </td>
                <td><%= render "assurance_results" %></td>
                <% end %>
            <% else %>
                <td><%= @departmental_sdbip.annual_target %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @departmental_sdbip.source_of_evidence %></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-minus-sign orange"></span>
                </td>
                <% end %>
            </tr>
            <tr>
                <th>June&nbsp;
                    <% @time_periods.select(:period).where("extract(month  from period) = ?", 6 ).each do |time_period| %>
                    <%= time_period.period.strftime("%Y") %>
                    <% end %>
                </th>
                <% if @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 6 ).any? %>
                <% @departmental_sdbip.kpi_results.where("extract(month  from created_at) = ?", 6 ).each do |kpi_result| %>
                <td><%= kpi_result.target %></td>
                <td><%= kpi_result.actual %></td>
                <td><%= kpi_result.kpi_performance_standard %></td>
                <td><%= kpi_result.performance_comments %></td>
                <td><%= kpi_result.corrective_measures %></td>
                <td>
                    <%= kpi_result.departmental_sdbip.source_of_evidence %>
                    <br/>
                    <% kpi_result.attachments.each do |attachment| %>
                    <%= link_to attachment.poe_file_name,attachment.poe.url, target: '_blank' %>
                    <% end %>
                </td>
                <td>
                    <%= kpi_result.user.firstname %>&nbsp;
                    <%= kpi_result.user.surname %>&nbsp;on
                    <%= kpi_result.updated_at.strftime("%d-%b-%Y") %>
                </td>
                <td><%= render "assurance_results" %></td>
                <% end %>
            <% else %>
                <td><%= @departmental_sdbip.annual_target %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @departmental_sdbip.source_of_evidence %></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-minus-sign orange"></span>
                </td>
                <% end %>
            </tr>
        </table>
    </div>
</div>
