<div class="table-responsive">
  <table class="table table-striped table-bordered departmental-sdbip-edit">
      <tr>
        <th>Ref</th>
        <th>Department</th>
        <th>Subdepartment</th>
        <th>KPI</th>
        <th>KPI Ref Number</th>
        <th>Predetermined Objectives</th>
        <th>KPI Owner</th>
        <th>Unit of Measurement</th>
        <th>Source of Evidence</th>
        <th>NDP Objective</th>
        <th>Capital Project</th>
        <th>Reporting Category</th>
        <th>KPI Calculation Type</th>

        <th>Target</th>
        <th>Actual</th>
        <th>Results</th>

        <th>Target</th>
        <th>Actual</th>
        <th>Results</th>

        <th>Target</th>
        <th>Actual</th>
        <th>Results</th>

        <th>Target</th>
        <th>Actual</th>
        <th>Results</th>

        <th>Annual Target</th>
        <th>Revised Target</th>
        <th>Actual</th>
        <th>Results</th>

        <th>KPI Type</th>
        <th>KPI Target Type</th>
        <th>IDP Ref</th>
        <th>M Score Classification</th>
        <th>National Outcome</th>
        <th>Strategic Objective</th>
        <th>Baseline</th>
        <th>Budget</th>
        <th>Performance Standard</th>
        <th>Risk Rating</th>
        <th>KPA</th>
        <th>KPI Concept</th>
        <th>Impact</th>
        <th>Provincial Strategic Outcome</th>
        <th>Area</th>
        <th>Ward</th>
        <th>Past Year Performance</th>
        <th>Top Layer KPI Ref</th>
        <th>Create Date</th>
        <th>Update Date</th>
      </tr>
    <% @departmental_sdbips.each do |departmental_sdbip| %>
      <tr>
        <td>D<%= departmental_sdbip.id %></td>
        <td><%= departmental_sdbip.department.name %></td>
        <td><%= departmental_sdbip.subdepartment.subdepartment_name %></td>
        <td>
        <%= link_to edit_kpis_path(departmental_sdbip),remote: true,'data-target' => "#departmental-sdbip-edit-modal", 'data-toggle' => 'modal', :title=>"Click to Update KPI" do %>
            <%= departmental_sdbip.kpi %>
          <% end %>
          <div id="departmental-sdbip-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

          </div>
        </td>
        <td><%= departmental_sdbip.kpi_ref_number %></td>
        <td><% if !departmental_sdbip.predetermined_objective_id.blank? %><%= departmental_sdbip.predetermined_objective.name %><% end %></td>
        <td><% if !departmental_sdbip.kpi_owner_id.blank? %><%= departmental_sdbip.kpi_owner.name %><% end %></td>
        <td><%= departmental_sdbip.unit_of_measurement %></td>
        <td><%= departmental_sdbip.source_of_evidence %></td>
        <td><% if !departmental_sdbip.ndp_objective_id.blank? %><%= departmental_sdbip.ndp_objective.name %><% end %></td>
        <td><% if departmental_sdbip.capital_project %><%= departmental_sdbip.capital_project.mun_cp_ref %><% end %></td>
        <td><% if !departmental_sdbip.reporting_category_id.blank? %><%= departmental_sdbip.reporting_category.name %><% end %></td>
        <td><% if !departmental_sdbip.kpi_calculation_type_id.blank? %><%= departmental_sdbip.kpi_calculation_type.name %><% end %></td>

        <th><%= departmental_sdbip.first_quarter_target %></th>
        <th><%= departmental_sdbip.first_quarter_actual %></th>
        <th></th>

        <th><%= departmental_sdbip.second_quarter_target %></th>
        <th><%= departmental_sdbip.second_quarter_actual %></th>
        <th></th>

        <th><%= departmental_sdbip.third_quarter_target %></th>
        <th><%= departmental_sdbip.third_quarter_actual %></th>
        <th></th>

        <th><%= departmental_sdbip.fourth_quarter_target %></th>
        <th><%= departmental_sdbip.fourth_quarter_actual %></th>
        <th></th>

        <th><%= departmental_sdbip.annual_target %></th>
        <th><%= departmental_sdbip.revised_target %></th>
        <th></th>
        <th></th>

        <td><% if !departmental_sdbip.kpi_type_id.blank? %><%= departmental_sdbip.kpi_type.name %><% end %></td>
        <td><% if !departmental_sdbip.kpi_target_type_id.blank? %><%= departmental_sdbip.kpi_target_type.name %><% end %></td>
        <td><%= departmental_sdbip.idp_ref %></td>

        <td><%= departmental_sdbip.mscore_classification.name %></td>
        <td><% if !departmental_sdbip.national_outcome_id.blank? %><%= departmental_sdbip.national_outcome.name %><% end %></td>
        <td><%= departmental_sdbip.strategic_objective.name %></td>
        <td><%= departmental_sdbip.baseline %></td>
        <td><%= departmental_sdbip.budget %></td>
        <td><%= departmental_sdbip.performance_standard %></td>
        <td><% if !departmental_sdbip.risk_rating_id.blank?%><%= departmental_sdbip.risk_rating.name %><% end %></td>
        <td><% if !departmental_sdbip.kpa_id.blank? %><%= departmental_sdbip.kpa.name %><% end %></td>

        <td><% if !departmental_sdbip.kpi_concept_id.blank? %><%= departmental_sdbip.kpi_concept.name %><% end %></td>

        <td><%= departmental_sdbip.impact %></td>
        <td><% if !departmental_sdbip.provincial_strategic_outcome_id.blank? %><%= departmental_sdbip.provincial_strategic_outcome.name %><% end %></td>
        <td><% if !departmental_sdbip.area_id.blank? %><%= departmental_sdbip.area.name %><% end %></td>
        <td><% if !departmental_sdbip.ward_id.blank? %><%= departmental_sdbip.ward.name %><% end %></td>
        <td><%= departmental_sdbip.past_year_performance %></td>

        <td><%= departmental_sdbip.top_layer_kpi_ref %></td>

        <td><%= departmental_sdbip.created_at.strftime(' %Y-%B-%d') %></td>
        <td><%= departmental_sdbip.updated_at.strftime('%d-%B-%Y') %></td>

      </tr>
      <% end %>

  </table>
</div>
