<% provide(:title, 'Departmental SDBIP') %>
<script>
$(function() {
	//highlight the current nav
	$("#applicationmanifest a:contains('SDBIP')").parent().addClass('active');
}); //jQuery is loaded
</script>
<br/>
<div class="row">
<div class="col col-lg-11">
<ul class="nav nav-pills">
<li class="active"><%= link_to "Departmental SDBIP", departmental_sdbips_path, :class =>"btn btn-sm pull-right"%></li>
<% if current_user.admin? %>
<li><%= link_to "Top Layer SDBIP", top_layer_sdbips_path, :class =>"btn btn-xs pull-right"%></li>
<li><%= link_to "Capital Projects", capital_projects_path, :class =>"btn btn-xs pull-right"%></li>
<li><%= link_to "Monthly Cashflow", monthly_cashflows_path, :class =>"btn btn-xs pull-right"%></li>
<li><%= link_to "Revenue By Source", revenue_by_sources_path, :class =>"btn btn-xs pull-right"%></li>
<% end %>
</ul>
</div>
</div>
<div>
  <h2>
    <%= @departmental_sdbip.kpi %>
  </h2>
  <div class="row">
    <div class="col col-lg-12">
      <span class="pull-right"><%= link_to departmental_sdbips_path, :class =>"btn ",:style=>"text-decoration: none;" do %>
        <span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Back
      <% end %>
     <% if !current_user.role.blank? %>
     <% if !current_user.admin? && (current_user.role.kpi_owner? || current_user.role.auditor_general? || current_user.role.internal_auditor?) %>
    <% if @departmental_sdbip.kpi_owner_id == current_user.role.kpi_owner_id && !current_user.role.internal_auditor? %>
              <%= link_to edit_departmental_sdbip_path(@departmental_sdbip), class: "btn btn-mini", :title=>"Click to update KPI" do %>
                <span class="glyphicon glyphicon-edit"></span>&nbsp;Update KPI
              <% end %>
              <% end %>
              <% if current_user.role.auditor_general? || (current_user.role.internal_auditor? && @departmental_sdbip.kpi_owner.id != current_user.role.kpi_owner_id) %>
              <%= link_to edit_departmental_sdbip_path(@departmental_sdbip), class: "btn btn-mini", :title=>"Click to update KPI" do %>
                <span class="glyphicon glyphicon-edit"></span>&nbsp;Update KPI
              <% end %>
              <% end %>
     <% end %>
      <% end %>
    <% if current_user.admin? %>
      &nbsp;
    <%= link_to edit_departmental_sdbip_path(@departmental_sdbip), class: "btn btn-mini" do %>
                <span class="glyphicon glyphicon-edit"></span>Edit
              <% end %>
              &nbsp;
    <%= link_to @department, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-mini" do %>
                <span class="glyphicon glyphicon-remove-sign"></span>Delete
              <% end %><% end %></span>
    </div>
    <div class="col col-lg-12">
      <div class="table-responsive">
        <table class="table table-striped" id="sdbips_table">
          <tbody>
            <tr>
              <th><h4>ID</h4></th> <td><%= @departmental_sdbip.id %></td></tr>
              <tr><th><h4>KPI</h4></th><td><%= @departmental_sdbip.kpi %></td></tr>
              <tr><th><h4>Department</h4></th><td><%= @departmental_sdbip.department.name %></td></tr>
              <tr><th><h4>Subdepartment</h4></th><td><%= @departmental_sdbip.subdepartment.subdepartment_name %></td></tr>
              <tr><th><h4>KPI Ref Number</h4></th><td><%= @departmental_sdbip.kpi_ref_number %></td></tr>
              <tr><th><h4>Predetermined Objective</h4></th><td><%= @departmental_sdbip.predetermined_objective.name %></td></tr>
              <tr><th><h4>KPI Owner</h4></th><td><%= @departmental_sdbip.kpi_owner.name %></td></tr>
              <tr><th><h4>Unit of Measurement</h4></th><td><%= @departmental_sdbip.unit_of_measurement %></td></tr>
              <tr><th><h4>M Score Classification</h4></th><td><%= @departmental_sdbip.mscore_classification.name %></td></tr>
              <tr><th><h4>IDP Ref</h4></th><td><%= @departmental_sdbip.idp_ref %></td></tr>
              <tr><th><h4>National Outcome</h4></th><td><%= @departmental_sdbip.national_outcome.name %></td></tr>
              <tr><th><h4>Strategic Objective</h4></th><td><%= @departmental_sdbip.strategic_objective.name %></td></tr>
              <tr><th><h4>Source of Evidence</h4></th><td><%= @departmental_sdbip.source_of_evidence %></td></tr>
              <tr><th><h4>Baseline</h4></th><td><%= @departmental_sdbip.baseline %></td></tr>
              <tr><th><h4>Target</h4></th><td><%= @departmental_sdbip.annual_target %></td></tr>
              <tr><th><h4>Actual</h4></th><td><%= @departmental_sdbip.first_quarter_actual %></td></tr>
              <tr><th><h4>Budget</h4></th><td><%= @departmental_sdbip.budget %></td></tr>
              <tr><th><h4>Performance Standard</h4></th><td><%= @departmental_sdbip.performance_standard %></td></tr>
              <tr><th><h4>KPA</h4></th><td><%= @departmental_sdbip.kpa.name %></td></tr>
              <tr><th><h4>NDP Objective</h4></th><td><%= @departmental_sdbip.ndp_objective.name %></td></tr>
              <tr><th><h4>Capital Project</h4></th><td><%= @departmental_sdbip.capital_project. mun_cp_ref %></td></tr>
              <tr><th><h4>KPI Concept</h4></th><td><%= @departmental_sdbip.kpi_concept.name %></td></tr>
              <tr><th><h4>KPI Type</h4></th><td><%= @departmental_sdbip.kpi_type.name %></td></tr>
              <tr><th><h4>Impact</h4></th><td><%= @departmental_sdbip.impact %></td></tr>
              <tr><th><h4>Provincial Strategic Outcome</h4></th><td><% if !@departmental_sdbip.provincial_strategic_outcome_id.blank?%><%= @departmental_sdbip.provincial_strategic_outcome.name %><% end %></td></tr>
              <tr><th><h4>Area</h4></th><td><%= @departmental_sdbip.area.name %></td></tr>
              <tr><th><h4>Ward</h4></th><td><%= @departmental_sdbip.ward.name %></td></tr>
              <tr><th><h4>Past Year Performance</h4></th><td><%= @departmental_sdbip.past_year_performance %></td></tr>
              <tr><th><h4>Reporting Category</h4></th><td><%= @departmental_sdbip.reporting_category.name %></td></tr>
              <tr><th><h4>Top Layer KPI Ref</h4></th><td><%= @departmental_sdbip.top_layer_kpi_ref %></td></tr>
              <tr><th><h4>KPI Calculation Type</h4></th><td><%= @departmental_sdbip.kpi_calculation_type.name %></td></tr>
              <tr><th><h4>Start Date</h4></th><td><%= @departmental_sdbip.start_date.strftime(' %Y-%B-%d') %></td></tr>
              <tr><th><h4>End Date</h4></th><td><%= @departmental_sdbip.end_date.strftime(' %Y-%B-%d') %></td></tr>
              <tr><th><h4>Create Date</h4></th><td><%= @departmental_sdbip.created_at.strftime(' %Y-%B-%d') %></td></tr>
              <tr><th><h4>Update Date</h4></th><td><%= @departmental_sdbip.updated_at.strftime(' %Y-%B-%d') %></td></tr>

          </tbody>
        </table>
        </div>
</div>
</div>
