<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ward.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @ward.area_id %>
</p>

<p>
  <strong>Mun ref:</strong>
  <%= @ward.mun_ref %>
</p>

<%= link_to 'Edit', edit_ward_path(@ward) %> |
<%= link_to 'Back', wards_path %>
