<div class="tab-pane fade" id="subdepartmental_administrators">
  <section class="media">
	  <div class="media-body">
			<article>
				<div class="tabbable tabs fourth-level-navs">
          <ul class="nav nav-tabs">
          <li class="active">
            <a href = "#subdepartmental_admins" data-toggle = "tab">Manage</a>
          </li>
          <li>
            <a href = "#add_subdepartmental_admin" data-toggle = "tab">Create</a>
          </li>
        </ul>
				</div><!-- tabbable tabs -->

				<section class="tab-content">
         <div class = "tab-pane active fade in" id = "subdepartmental_admins">
               <div class="col col-lg-12">
                 <table class="table table-striped table-responsive table-hover">
                     <tr>
                       <th>Sub-Department</th>
                       <th colspan="6">Administrators</th>
                     </tr>
                     <tr>
                       <th></th>
                       <th>User</th>
                       <th>Can create?</th>
                       <th>Can edit?</th>
                       <th>Can update?</th>
                       <th>Can approve?</th>
                       <th>Actions</th>
                     </tr>
                     <% @subdepartments.each do |subdepartment| %>
                      <tr>
                         <td rowspan="<%= subdepartment.subdepartmental_administrators.count%>"><%= subdepartment.subdepartment_name %></td>
                         <% subdepartment.subdepartmental_administrators.each do |subdepartmental_administrator| %>
                           <td><%= subdepartmental_administrator.user.firstname %>&nbsp;<%= subdepartmental_administrator.user.surname %></td>
                           <td><% if subdepartmental_administrator.can_create? %>Yes<% else %>No<% end %></td>
                           <td><% if subdepartmental_administrator.can_edit? %>Yes<% else %>No<% end %></td>
                           <td><% if subdepartmental_administrator.can_update? %>Yes<% else %>No<% end %></td>
                           <td><% if subdepartmental_administrator.can_approve? %>Yes<% else %>No<% end %></td>
                           <td><%= link_to edit_subdepartmental_administrator_path(subdepartmental_administrator),remote: true,'data-target' => "#subdepartment-modal", 'data-toggle' => 'modal', class: "btn btn-mini", :title=>"Click to edit" do %>
                                <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
                              <% end %>
                                <div id="subdepartment-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

                                </div>
                              &nbsp;<%= link_to subdepartmental_administrator,class: 'btn btn-mini btn-danger', method: :delete, data: { confirm: 'Are you sure?' }, :style=>"text-decoration: none;" do %>
                             <span class="glyphicon glyphicon-remove-sign"></span>&nbsp;Delete
                           <% end %>
                           </td>

                         </tr>
                         <% end %>
                     <% end %>

                 </table>

        </div>
      </div>
      <div class = "tab-pane fade" id = "add_subdepartmental_admin"><br/>
            <ul class="roles">
              <h3>New Sub-Departmental Administrator</h3><hr/>
              <%= render 'subdepartmental_administrators/form' %>
            </ul>
        </div>

				</section><!-- tab-content -->

			</article><!-- users -->

	  </div><!-- media-body -->
	</section><!-- media -->
</div>
