<div class="tab-pane fade" id="kpi-owners">

    <section class="media">

        <div class="media-body">

            <article>

                <div class="tabbable tabs fourth-level-navs">

                    <ul class="nav nav-tabs">

                        <li class="active">

                            <a href="#kpi_owners" data-toggle="tab">Manage</a>

                        </li>
                    </ul>
                </div>
                <!-- tabbable tabs -->

                <section class="tab-content">

                    <div class="tab-pane active fade in" id="kpi_owners">

                        <div class="col col-lg-8 col-lg-offset-2">

                            <table class="display table table-striped table-responsive table-hover" id="kpi-owners-table">
                                <tr>

                                    <th>KPI Owner</th>

                                    <th>Administrators</th>

                                    <th>Action</th>

                                </tr>
                                <% kpi_owners.each do |kpi_owner| %>

                                <tr>

                                    <td><%= kpi_owner.name %></td>

                                    <td>

                                        <% if !kpi_owner.user_id.blank? %>

                                        <%= kpi_owner.user.firstname %>&nbsp;<%= kpi_owner.user.surname %>

                                        <% end %>

                                    </td>

                                    <td>
                                        <% if !kpi_owner.user_id.blank? %>
                                        <%= link_to edit_kpi_owner_path(kpi_owner),remote: true,'data-target' => "#kpi-owner-modal", 'data-toggle' => 'modal', class: "btn btn-mini", :title=>"Click to edit" do %>
                                        <span class="glyphicon glyphicon-remove-sign"></span>&nbsp;Deactivate
                                        <% end %>
                                        <div id="kpi-owner-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true"></div>
                                    <% else %>
                                        <%= link_to add_admin_path(:id=>kpi_owner.id),remote: true,'data-target' => "#new-kpi-owner-modal", 'data-toggle' => 'modal', class: "btn btn-mini", :title=>"Click to edit" do %>
                                        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add
                                        <% end %>
                                        <div id="new-kpi-owner-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true"></div>
                                        <% end %>
                                    </td>

                                </tr>

                                <% end %>

                            </table>
                            <%= will_paginate @kpi_owners %>
                        </div>
                        <div class="tab-pane fade" id="add_kpi_owner"></div>
                      </div>
                    </section>
                    <!-- tab-content -->

                </article>
                <!-- users -->
            </div>
            <!-- media-body -->
        </section>
        <!-- media -->
    </div>
