<p id="notice"><%= notice %></p>

<h1>Listing Kpas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kpas.each do |kpa| %>
      <tr>
        <td><%= kpa.name %></td>
        <td><%= link_to 'Show', kpa %></td>
        <td><%= link_to 'Edit', edit_kpa_path(kpa) %></td>
        <td><%= link_to 'Destroy', kpa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kpa', new_kpa_path %>
