<p id="notice"><%= notice %></p>

<h1>Listing Jobtitles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobtitles.each do |jobtitle| %>
      <tr>
        <td><%= jobtitle.title %></td>
        <td><%= link_to 'Show', jobtitle %></td>
        <td><%= link_to 'Edit', edit_jobtitle_path(jobtitle) %></td>
        <td><%= link_to 'Destroy', jobtitle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jobtitle', new_jobtitle_path %>
